[2018-07-02 10:53] atherdon opened #1 "add eslint + eslint-airbnb"

[2018-07-02 12:44] atherdon opened #2 "move static data, related to ChickenKyiv project"
please check the current state of package.
right now it works for our search form
and i want to add static data for another project.
Previous code should work too.
more details here: https://github.com/GroceriStar/static-data/issues/10

[2018-07-02 12:59] anupmahadev commented on #2
Hello Arthur,
I did not get the problem statement exactly. Could you please specify what  exactly I should do?

[2018-07-02 18:58] atherdon commented on #2
@anupmahadev sure, not a problem.
First part: please review this package and explain me what do you think we're doing here. Then i'll add data related to a next steps

[2018-07-02 19:18] anupmahadev commented on #2
Yes I got to know that the code is written for the various ingredients, as well as the recipes accordingly. I need to move the static data to the chickenKyiv project. I have written about what test case can be done. Please check in the comments of the next section.

[2018-07-02 19:22] atherdon commented on #2
Second step: you should add another file-clone to index.js
at this file, we'll include other files, related only to ChickenKyiv (i want to keep both cases separately for now)
Third step: add tests

[2018-07-04 15:12] atherdon commented on #2
@anupmahadev I want to push this task forward - can you tell me - do you have any questions?

[2018-07-05 11:49] atherdon opened #4 "tests"
merge Sanchit with Eduard, so Eduard can ask questions, related to Jest testing.
- [ ] Invite Sanchit, Eduard and Vadim to front/back teams
- [ ] assign and intro here
- [ ] discuss scope of work and create a plan

[2018-07-05 14:11] atherdon opened #5 "move readme from"
- [x] checkout https://github.com/GroceriStar/static-data into your PC
- [x] move readme content into this project(but keep the data that we have here) read this readme and update parts that you think is necessary. If this is not clear - you can ask me here.
- [ ] remove readme from static-data project
- [ ] commit+push static-data updates and this commit+push updates to this repository
@MinkoJ2

[2018-07-07 07:52] atherdon commented on #5
please follow this link: https://github.com/GroceriStar/groceristar-fetch/invitations

[2018-07-07 07:52] atherdon opened #6 "NPM package debugging"
https://medium.com/@the1mills/how-to-test-your-npm-module-without-publishing-it-every-5-minutes-1c4cb4b369be

https://medium.com/@adrianli/the-idiot-s-guide-to-publishing-a-react-component-to-npm-2b66b1ac03e0

https://docs.npmjs.com/getting-started/fixing-npm-permissions
https://medium.com/@alexishevia/the-magic-behind-npm-link-d94dcb3a81af
https://docs.npmjs.com/cli/link

[2018-07-07 08:18] atherdon opened #7 "encrypt my key"
https://docs.travis-ci.com/user/deployment/npm/#NPM-auth-token

[2018-07-07 10:08] atherdon commented on #5
based on @MinkoJ2 comments:

a) you can make commits - because i add you to this repo as contributor
b) maybe you forgot to click "push". What client are you using for GIT?

[2018-07-07 10:14] MinkoJ2 commented on #5
Я не могу ничего [тут](https://github.com/GroceriStar/static-data) коммитить
@atherdon

[2018-07-07 10:20] atherdon commented on #5
@MinkoJ2 can you show me your code changes at your forked version?

[2018-07-07 11:02] atherdon commented on #5
on pause right now. learning git/github basics

[2018-07-07 22:24] atherdon opened #8 "https://inch-ci.org/github/GroceriStar/groceristar-fetch/suggestions?branch=master"

[2018-07-08 11:54] atherdon opened #9 "idea"
I was thinking about delegate some team lead work to you, related to development of this plugin.
What do you think about it? You'll operate other team members, plan and review their work.

[2018-07-10 23:41] atherdon opened #10 "Moving json data, from our projects [Main Task]"

[2018-07-11 00:37] atherdon opened #11 "Features List"
#### toRead for later
http://krasimirtsonev.com/blog/article/javascript-library-starter-using-webpack-es6
https://medium.com/@kelin2025/so-you-wanna-use-es6-modules-714f48b3a953
https://rollupjs.org/guide/en
https://medium.com/@kelin2025/writing-js-libraries-less-than-1tb-size-6342da0c006a
https://booker.codes/how-to-build-and-publish-es6-npm-modules-today-with-babel/
https://www.npmjs.com/package

[2018-07-11 00:38] atherdon commented on #5
@MinkoJ2  tell me when you'll watch some git related videos and be ready to continue with this task

[2018-07-11 00:43] atherdon commented on #11
#1 #8 #7

[2018-07-11 00:58] atherdon opened #12 "[Groceristar project][Departments][Vadim]"
- [x] Department names -> Please add this section to grocery.json
structure will be like this: `grocery[0][departments][0]` and it will return a department name

Create a few methods, using library lodash/underscore that will return this data
- [x] display all departments from grocery.json
- [x] display all ingredients at one department

[2018-07-11 01:07] atherdon opened #13 "[Search API project][Main task]"
we should include this files into main file, related to search-api:
- [ ] Allergy
- [ ] Attributes
- [ ] Courses
- [ ] Cuisines
- [ ] Departments
- [ ] Diets
- [ ] Holidays
- [ ] Ingredients
- [ ] Nutritions

You also should create simple tests for each exported array
- [ ] Allergy
- [ ] Attributes
- [ ] Courses
- [ ] Cuisines
- [ ] Departments
- [ ] Diets
- [ ] Holidays
- [ ] Ingredients
- [ ] Nu

[2018-07-11 01:19] atherdon opened #14 "[Groceristar][add basic tests]"
Add basic tests for imported json files:
 - [ ] Create a separated file for tests, related to groceristar project only
 - [ ] [Departments](https://github.com/GroceriStar/groceristar-fetch/tree/master/data/Departments)
 - [ ] [Ingredients](https://github.com/GroceriStar/groceristar-fetch/tree/master/data/Ingredients)
 - [ ] [Users](https://github.com/GroceriStar/groceristar-fetch/tree/master/data/

[2018-07-11 01:22] atherdon opened #15 "[Groceristar project][Add other grocerylists][Vadim]"
right now, in our grocery.json we have only one instance of grocery list.
we need to add other 6-7 GL that we have into our package.
But please do it in a smarter way: we should avoid duplicates: our json should have only clean data.
For example: Ultimate grocery have a department 'Dairy', and one of other grocery lists have a same department - so we don't need to create another row at departments

[2018-07-11 01:45] atherdon opened #16 "[Groceristar project][main task]"
we should include this files into main file, related to groceristar project:
- [x] Departments
- [x] Grocery
- [x] Ingredients
- [x] Users

You also should create simple tests for each exported array
- [ ] Departments
- [ ] Grocery
- [ ] Ingredients
- [ ] Users

Please tell me what tests do you think is important for this arrays?

https://github.com/GroceriStar/static-data/blob/master/dist/data/si

[2018-07-11 02:15] atherdon commented on #11
convert to es6 version
https://github.com/eunikitin/modern-package-boilerplate

[2018-07-11 02:16] atherdon opened #17 "[ChickenKyiv][app][recipes export]"
Recipes exports for recipe-app
https://github.com/atherdon/recipe-app-react/issues/5

[2018-07-11 08:31] vadim9999 commented on #12
@atherdon There is no file grocery.json. Where can I find it? Or do you mean groceryData.json?

[2018-07-11 10:42] atherdon commented on #12
yes, and please replace that name :0 and other files that you moved :)

On 11-Jul-2018 at 08:31 AM, Vadim wrote:

@atherdon <https://github.com/atherdon> There is no file grocery.json.
Where can I find it? Or do you mean groceryData.json?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GroceriStar/groceristar-fetch/issues/12

[2018-07-11 10:43] atherdon commented on #12
and it should work :)

On 11-Jul-2018 at 08:31 AM, Vadim wrote:

@atherdon <https://github.com/atherdon> There is no file grocery.json.
Where can I find it? Or do you mean groceryData.json?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GroceriStar/groceristar-fetch/issues/12#issuecomment-404088720>,
or mute the thread
<htt

[2018-07-11 12:28] vadim9999 commented on #15
@atherdon Sorry, I can't understand what to do.
clean-fatirig-grocery-list.js
gl-essentials.js
healthy-vegetarian-grocery-list.js
keto-diet-food-list.js
low-carb-food-list.js
rebel-dietitian.js
we have this files. In each file are title - name of department and ingredients of this department.

[2018-07-11 12:42] atherdon commented on #15
please compare this files, with structure, that you imported to this
package previous times.
is it similar? no, but it should be.

so, let's start first one:
you need to move it into this repo.
then in some file include that js file.
also you'll need to include files like Ingredients/ingredients.json or
Departments/departments.json. let's assume that you'll use underscore.
so, you do map function

[2018-07-11 13:07] atherdon commented on #15
I can create a simple video that will explain exact steps that we need @vadim9999

[2018-07-12 02:18] atherdon opened #20 "[Groceristar][methods]"
- [x] create a separate file, that will include json files, related to groceristar project and creation of methods, that return that arrays.
- [x] connect this file to index.js and export our methods, so that can be called from outside.

[2018-07-12 02:36] atherdon commented on #12
ok, i tried to create a voice explanation video how to create a pull request, but my mic was not off - so you'll see only my screen, hope it'll help you: https://www.useloom.com/share/03fe35fc61f54d8db4a884657c6c2dfa

[2018-07-12 11:03] vadim9999 commented on #15
@atherdon In this project are two folders and their files
Ingredient -> ingredients.json
                 ->ingredients2.json
and
 Ingredients -> ingredients.json
What to do?

[2018-07-12 18:40] atherdon commented on #15
awhat file did you created? use it

On 12-Jul-2018 at 11:03 AM, Vadim wrote:

@atherdon <https://github.com/atherdon> In this project are two folders and
their files
Ingredient -> ingredients.json
->ingredients2.json
and
Ingredients -> ingredients.json
What to do?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GroceriStar/g

[2018-07-12 19:13] vadim9999 commented on #20
@atherdon do you mean cut all methods from index.js and insert them in new file? After connect this file to index.js?

[2018-07-12 19:17] atherdon commented on #20
yep

On 12-Jul-2018 at 07:17 PM, Vadim wrote:

@atherdon <https://github.com/atherdon> do you mean cut all methods from
index.js and insert them in new file? After connect this file to index.js?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GroceriStar/groceristar-fetch/issues/20#issuecomment-404620274>,
or mute the thread

[2018-07-12 23:12] atherdon commented on #12
@vadim9999 can you specify a code line, where did you implement this methods: _display all departments from grocery.json_, _display all ingredients at one department_

[2018-07-12 23:44] atherdon commented on #4
each `element` should have at least this tests: if file isset, is return data is array, maybe check number of items inside array...

[2018-07-13 08:33] vadim9999 commented on #12
@atherdon https://github.com/GroceriStar/groceristar-fetch/blob/0c78998c4ce724c374b2e63ec4ee72aa5c196d2c/index.js#L142

[2018-07-14 02:32] atherdon commented on #15
@vadim9999 don't forget to remove grocery lists from old repository

[2018-07-14 06:40] #20 closed

[2018-07-14 06:40] #15 closed

[2018-07-14 06:44] atherdon commented on #12
Please add this methods to Readme file and close this issue after that

[2018-07-14 07:02] atherdon opened #25 "[Groceristar][connect new GL to Ultimate]"
You should add data, related to a new lists into grocery.json

[2018-07-14 07:19] atherdon opened #26 "[ChickenKyiv][Free Menu release][db import]"
https://github.com/ChickenKyiv/recipe-api-only/tree/master/bin

[2018-07-15 12:16] MinkoJ2 commented on #5
Error - `permission to GroceriStar/static-data.git denied to MinkoJ2.`
@atherdon

[2018-07-15 12:17] atherdon commented on #5
create a fork from that repo

On 15-Jul-2018 at 12:16 PM, Edward wrote:

Error - permission to GroceriStar/static-data.git denied to MinkoJ2.
@atherdon <https://github.com/atherdon>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GroceriStar/groceristar-fetch/issues/5#issuecomment-405088084>,
or mute the thread
<https://gith

[2018-07-15 12:19] MinkoJ2 commented on #5
**[Check](https://github.com/MinkoJ2/static-data)**

[2018-07-15 12:52] atherdon commented on #5
No, you got me wrong. but this is good for practice your git skills.

I wanted to move Readme content **from** static-data repository, **into** groceristar-fetch.
`static data` was created in purpose to keep all data in one place, but `groceristar-fetch` is a repository with really working module, that we're using in our development process

[2018-07-15 12:56] MinkoJ2 commented on #5
I do not understand. In which file

[2018-07-15 16:09] atherdon commented on #5
@MinkoJ2 please review the latest version of readme file from groceristar-fetch.
Vadim made some changes and it started to look differently - can you take a look, and fix that small things?

Btw, don't forget that this task have some unfinished work(sub-tasks in task description)

[2018-07-15 17:03] #12 closed

[2018-07-15 18:40] atherdon opened #28 "[Groceristar][remove static data from import script]"
https://github.com/GroceriStar/groceristar/tree/master/bin/old-delete-later/grocery
I think this not a complex thing, but tell me if you'll have questions.

[2018-07-16 01:14] atherdon commented on #5
I create a video for you, please check it here: https://www.useloom.com/share/44f6a90b64c64e43a75dc027d06852bf

[2018-07-16 01:43] atherdon commented on #25
Create some video for you: https://www.useloom.com/share/98c7b515ed874255be806ba2ac278c28

[2018-07-16 01:43] atherdon commented on #25
Sorry that it long :)

[2018-07-16 02:02] atherdon commented on #17
Another non-short video: https://www.useloom.com/share/dbcb23eb02df4b6e82fef5b3d9772767

[2018-07-16 02:02] atherdon opened #29 "[Search API][compare and clean our import script]"
https://github.com/ChickenKyiv/recipe-search-api
Video: https://www.useloom.com/share/9e1cae9416f54efcaa2a2036b229919d

[2018-07-16 02:08] #10 closed

[2018-07-16 02:18] atherdon commented on #14
created another video for you: https://www.useloom.com/share/06f5c81e7662400a84f9ccf7ad8c845d

[2018-07-16 02:30] atherdon commented on #28
another video: https://www.useloom.com/share/870465b5314e418d80aa9ae9143fa564

[2018-07-16 02:41] atherdon commented on #26
https://www.useloom.com/share/2c1f745dcb8b496eae055e16b1d599ca

[2018-07-16 07:08] atherdon commented on #5
I didn't see that latest 2 options is completed. Should i review other things?

[2018-07-16 07:09] atherdon commented on #5
didn't see any pull requests with your changes here: https://github.com/GroceriStar/static-data

[2018-07-16 07:10] atherdon commented on #5
and i didn't see a lot of changes at groceristar-fetch readme. looks like you trying to do it fast. So we'll should go slow from now.

[2018-07-16 08:03] vadim9999 commented on #25
Sorry' I have very slow internet connection and it doesn't play

[2018-07-16 19:09] MinkoJ2 commented on #5
**I do not understand what to do, I made the README in both sections
[1](https://github.com/GroceriStar/groceristar-fetch)
[2](https://github.com/MinkoJ2/static-data)**

[2018-07-17 02:50] atherdon opened #32 "[Groceristar] method/function is not working"
Hi @vadim9999 can you take a look at this comment: https://github.com/GroceriStar/react-native-shoppin-list/issues/12#issuecomment-405254033

GroceriStar/react-native-shoppin-list#12

[2018-07-17 02:52] atherdon commented on #32
Can you buzz Vineesh when this issue will be fixed, ok? And buzz also me - i'll publish a newest version of plugin

[2018-07-17 11:34] atherdon commented on #32
@MinkoJ2 can you help us?

[2018-07-17 13:24] #32 closed

[2018-07-17 20:00] atherdon commented on #32
ok, updated

[2018-07-19 01:21] atherdon opened #35 "[SearchForm][getMethods update]"
replace allergy, cuisine, course, holidays, diets methods to attribute methods
So instead of having `getAllergy()` we'll have `getAttribute('allergy')`

Tell me if you'll need more details

[2018-07-19 02:08] atherdon opened #36 "[ChickenKyiv][Meal Calendar]"
when GroceriStar/types#10 will be done we'll need to move that static data to our plugin
- [ ] move to this repo
- [ ] remove that data from `types` repo
- [ ] create methods, create tests
- [ ] publish updated version of plugin

[2018-07-19 02:39] atherdon commented on #36
At types we'll have our json for weeks

Liz and Eduard will convert that data into arrays

then data should be moved to this repository
Eduard will add it + add methods + add tests

Then we'll use in 20, 22, 23, 27 repositories

[2018-07-19 19:00] MinkoJ2 commented on #5
@atherdon

[2018-07-19 19:02] atherdon commented on #5
so it was 3 days ago, not today.
on pause right now, don't want to explain it

[2018-07-19 19:02] atherdon commented on #35
saw this notification?

[2018-07-19 19:03] atherdon commented on #35
and use pull requests when you'll make a changes, not a direct commits like before

[2018-07-19 19:03] atherdon commented on #14
saw this?

[2018-07-19 19:10] MinkoJ2 commented on #35
Yes

[2018-07-20 05:30] atherdon commented on #5
it's not done. if you want to understand why - then try to ask a right questions. It's not good to hear - i don't know what to do. Please be more focused.

[2018-07-20 05:30] atherdon commented on #5
- [ ] there a new issues in Readme, please take a look and fix the formatting errors

[2018-07-21 08:26] vadim9999 opened #37 "Check libraries in files"

[2018-07-21 16:39] atherdon commented on #2
@vadim9999 can you start to work on this task, we need to pass that data to our other team member

[2018-07-22 09:05] vadim9999 commented on #2
@atherdon  I can't understand what should I do

[2018-07-22 09:17] atherdon commented on #2
@vadim9999 basically it's the same kind of work that you've done before.
you should go to `static-data` repository, and at task#10 you will see list of files, that should be moved to our repository. like 3-4 files. then we should create methods for this files, and apply tests.
Literally the same kind of stuff that you did before

1) move files, related to ChickenKyiv into this repository
2) connec

[2018-07-23 03:01] atherdon opened #40 "separate tests into 3 different files"
like we have index.test.js - so for now we'll have groceristar.test.js, chichenkyvi.test.js and search.test.js

because right now it's hard to understand what tests are related to which project

[2018-07-23 03:57] atherdon commented on #2
@vadim9999 did you add our methods to readme file? if not - please do

[2018-07-23 03:58] atherdon opened #41 "additional tests"
for now, it'll be fine if we'll have tests, related to (do we have an array with items - yes/no, does count of array elements match). like we know that we have 262 ingredients at one file, so count should return the same number

[2018-07-23 04:01] atherdon opened #42 "update all my projects, that have import stuff"

[2018-07-23 04:02] atherdon opened #43 "include raven with reports"

[2018-07-23 06:35] #5 closed

[2018-07-23 07:04] atherdon commented on #35
@vadim9999 can you help us with this task?

[2018-07-23 19:56] sanchit94 commented on #35
Super helpful!! :)

[2018-07-24 08:50] atherdon commented on #35
@sanchit94 yeah, it's evolving a bit step by step. more interesting and cool features coming!

[2018-07-24 13:00] #40 closed

[2018-07-24 13:01] atherdon commented on #2
@vadim9999 i think we can close this task, right?

[2018-07-24 13:45] vadim9999 commented on #2
@atherdon yes

[2018-07-24 13:45] #2 closed

[2018-07-24 14:33] atherdon commented on #35
updates were published.

[2018-07-25 11:04] #4 closed

[2018-07-25 11:08] #37 closed

[2018-07-25 11:10] atherdon opened #45 "Testing part. main task"
So we have a lot of json files in our plugin. Let's call it `elements`.

- [ ] each `element` should have at least this tests:
* if file isset
* is returned data is array
* does count of array elements match). like we know that we have 262 ingredients at one file, so count should return the same number

 Tests we're storing as *.test.js file.

- [ ] we should also check this case: we use a lodash

[2018-07-25 11:11] #41 closed

[2018-07-28 07:30] atherdon commented on #45
I'm moving your questions here, it's better for the process.

Is there a *.js file that you can share ?

can you ask the same question at Github? i'm not developling this module, so i'm quite not sure. What i'm sure - when you create a pull request and add your changes(commits), it'll trigger a build in Travis CI, and Travis will run all test coverage.
Check this video, it's cool https://www.youtu

[2018-07-28 10:58] atherdon opened #46 "Methods list"
it's a sub task for #36

as you move part of that data, can you create a simple plan of methods that we should create, in order to make it works similar to our other 3 sections of this plugin.
This task is not about coding, it's more related to planning for a future steps

[2018-07-29 10:55] atherdon opened #47 "https://docusaurus.io/docs/en/publishing"

[2018-07-29 11:55] atherdon commented on #47
https://github.com/reasonml/reasonml.github.io/tree/source/docs

[2018-07-29 21:34] atherdon opened #49 "[chickenKyiv][nutritions]"
Similar task to our previous work.
You should move json data from this folders
https://github.com/GroceriStar/static-data/tree/master/dist/data/simple/Nutritions
https://github.com/GroceriStar/static-data/tree/master/dist/data/simple/Nutritions2

- [ ] add methods to chickenkyiv.js
- [ ] add tests
- [ ] update readme

[2018-07-29 21:47] dependabot[bot] opened #50 "Dependabot can't parse your package.json"
Dependabot couldn't parse the package.json found at `/package.json`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-07-29 22:02] atherdon opened #51 "clean up index.js + add chickenkyiv there too"

[2018-07-29 22:16] atherdon commented on #35
@vadim9999 please update the readme file, because it's a bit confusing right now.
we should have a getAttribute in example, but we have an old version of methods

[2018-07-29 22:39] atherdon opened #52 "add test to get holidays method"

[2018-07-29 22:41] atherdon opened #53 "make all variables to have a similar plural"
like diets, allergies, holidays, courses, cuisines
or diet, allergy, holiday, course, cuisine

[2018-07-30 00:30] atherdon opened #54 "https://github.com/lassjs/lass"

[2018-07-30 07:11] vadim9999 commented on #25
@atherdon https://github.com/GroceriStar/groceristar-fetch/pull/55

[2018-07-30 08:55] vadim9999 commented on #28
@atherdon https://github.com/GroceriStar/groceristar/pull/558

[2018-07-30 10:36] vadim9999 commented on #35
@atherdon it's second commit in pull request
https://github.com/GroceriStar/groceristar-fetch/pull/55

[2018-07-30 10:48] atherdon commented on #35
yeah i saw it. btw, you can meention issue number at commit and when i'll
approve request - it'll closes automatically. read more here:
https://stackoverflow.com/questions/12235620/automatically-closing-issue-from-pull-request-in-github

On 30-Jul-2018 at 10:36 AM, Vadim wrote:

@atherdon <https://github.com/atherdon> it's second commit in pull request
#55 <https://github.com/GroceriStar/grocerist

[2018-07-30 12:16] atherdon commented on #28
thank you!

[2018-07-30 12:16] #28 closed

[2018-07-30 12:20] vadim9999 commented on #52
@atherdon now we have
[code]
and I have added test with this argument

[2018-07-30 12:44] #16 closed

[2018-07-30 12:45] atherdon opened #56 "[groceristar][grocery]"
we should add some methods, that will help us manipulate with data, that we have right now at grocery.json

@vadim9999 tell me what do you think we should do?

[2018-07-30 18:01] Vidhya3 commented on #45
Hi,

Can someone who is developing the above module help me out?Below are my questions:

Is there a webpage that i can validate or see if the test coverage can be increased to?Can you give some more details?
Is there a *.js file that you can share ?

Thanks!

[2018-07-30 18:02] atherdon commented on #45
@vadim9999 can you help us?

On 30-Jul-2018 at 06:01 PM, Vidhya3 wrote:

Hi,

Can someone who is developing the above module help me out?Below are my
questions:

Is there a webpage that i can validate or see if the test coverage can be
increased to?Can you give some more details?
Is there a *.js file that you can share ?

Thanks!

—
You are receiving this because you authored the thread.
Reply to

[2018-07-30 18:48] vadim9999 commented on #46
@atherdon I think we can create methods:
[code]

[2018-07-30 19:04] vadim9999 commented on #45
@Vidhya3  We have 3 sections groceristar.js, chickenKyiv.js and search.js. In this files are methods that gets date from json's file. Also we have groceristar.test.js, chickenKyiv.test.js and search.test.js.
When you create pull request Travis CI runs all this tests. In bottom of pull request you will see this
![image](https://user-images.githubusercontent.com/35640573/43417607-1d15d8f0-9444-11e8-

[2018-07-30 19:11] vadim9999 commented on #56
@atherdon I think add method that can return an array with departments by name
[code]

[2018-07-30 19:11] atherdon commented on #45
you can also grab that repo to your local Mac, and run yarn run test or npm
run test

On 30-Jul-2018 at 07:04 PM, Vadim wrote:

@Vidhya3 <https://github.com/Vidhya3> We have 3 sections groceristar.js,
chickenKyiv.js and search.js. In this files are methods that gets date from
json's file. Also we have groceristar.test.js, chickenKyiv.test.js and
search.test.js.
When you create pull request Travis

[2018-07-30 19:27] atherdon commented on #52
got it, thanks!

[2018-07-30 19:27] #52 closed

[2018-07-30 19:39] #51 closed

[2018-07-30 19:39] #53 closed

[2018-07-30 19:40] #9 closed

[2018-07-30 19:43] atherdon commented on #45
https://github.com/GroceriStar/groceristar-fetch/invitations

[2018-07-30 20:00] atherdon commented on #45
i created a video that showing how tests works on this module.
i was a bit sleepy, so my speetch was not clear :)

hope it'll help. tell us if you have some other questions
https://www.useloom.com/share/ee9fbe848d644d868bed986f0307db19
@Vidhya3

[2018-07-31 15:04] sanchit94 opened #59 "Create a function getPlaceholer() for the frontend UI."
It would be really helpful if we create a function `getPlaceholder()` which will be just like `getAttribute()` that is already there in the fetch plugin. I mean it should return different placeholder for different arguments like diets, allergies, etc. Basically the functionality will be identical to the `getAttribute()` function.

[2018-08-01 23:50] atherdon opened #60 "create methods, that will return big objects"
- [ ] Grocery object
- [ ] Recipe object
- [ ] Search object

+ explain how to use it and we should force our other developers to use this methods instead of small methods like - get ingredients, etc

[2018-09-16 16:01] atherdon opened #90 "our package cannot be minified, because we're using es5 & es6 together"
https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

this prevents to deploy stuff to netlify

[2018-10-05 01:29] atherdon opened #93 "testing. groceristar"
1) we're splitting tests into a few `describe` blocks, so we're more logically separated.
2) by following #45 we have count, checking for properties, checking object inside our array

[2018-10-05 01:30] atherdon opened #94 "create custom build options, when we don't grab all json arrays, but pick only few that we're really need"

[2018-10-05 01:31] atherdon opened #95 "clean up our package, when we'll finish to learn Jest with Vadim"
we have a few files that look bad after hurricane that we've made

i assume we need to get back things at index.js, groceristar.js, chickenkyiv.js, *.test.js

[2018-10-05 01:42] atherdon opened #96 "create pretty code images for my upcoming article"
you'll be able to learn it a bit, also i'll be able to share this article with other team members.
note, code should be clear and separated from comments or other dirt that we have
and it should work as a separated entity
- [x]  https://github.com/GroceriStar/groceristar-fetch/blob/master/groceristar.test.js#L8-L9
- [x] https://github.com/GroceriStar/groceristar-fetch/blob/master/groceristar.test.

[2018-10-05 15:53] vadim9999 commented on #96
![carbon 1](https://user-images.githubusercontent.com/35640573/46545379-e3795d00-c8ce-11e8-82c6-ce7c81351051.png)
@atherdon Should I change tested data on data from groceristar? The style of image is good?

[2018-10-05 22:04] atherdon commented on #96
styles are good!
for some samples, we need to use samples, related to GS

[2018-10-06 09:44] vadim9999 commented on #96
![1](https://user-images.githubusercontent.com/35640573/46569949-7ebd1180-c965-11e8-8c13-b437a8ab11e0.png)
![2](https://user-images.githubusercontent.com/35640573/46569950-7ebd1180-c965-11e8-8f9a-a4e67c1a7b8f.png)
![3](https://user-images.githubusercontent.com/35640573/46569951-7ebd1180-c965-11e8-8305-60f0f6661feb.png)
![4](https://user-images.githubusercontent.com/35640573/46569952-7ebd1180-c965-

[2018-10-06 10:35] atherdon commented on #96
@vadim9999 last two was not uploaded
anything else looks amazing

[2018-10-07 08:34] vadim9999 commented on #96
![11](https://user-images.githubusercontent.com/35640573/46580016-f00fc980-ca24-11e8-9511-5f4d8cc8781f.png)
![10](https://user-images.githubusercontent.com/35640573/46580017-f00fc980-ca24-11e8-86d9-c0c5f88a2e82.png)

[2018-10-07 10:30] atherdon commented on #96
big thank you

On Sun, Oct 7, 2018 at 11:34 AM Vadim <notifications@github.com> wrote:

[2018-10-07 10:37] #96 closed

[2018-10-15 22:48] atherdon opened #99 "[grocery app] helper methods"
- [ ] when we'll publish a next version (>=26) into npm and update a package at shoplist app - we'll be able to replace helper methods with same methods, from fetch plugin
- [ ] test if this is break something.
https://github.com/GroceriStar/groceristar-fetch/pull/98

[2018-10-15 22:55] #93 closed

[2018-10-16 01:42] atherdon opened #100 "ML data - Milk department products only"
Move here
remove from there?
https://github.com/GroceriStar/gs-ml-nlp/tree/master/data

[2018-10-20 10:06] atherdon opened #101 "can we add comments for each method that we have in our plugin"

[2018-10-20 10:10] atherdon opened #102 "tst"
Мы должны разбить тесты, внутри проекта на секции, отвечающие отдельным файлам.

несколько describes
желательно объединить вокруг одного файла(таблицы, структуры данных)

Каждый тест должен 1 expect.

1 count
2 props
3 objects inside
4 maybe count of arrays, inside the props - это повторироть для каждого файла.

[code]

[2018-10-20 10:15] atherdon opened #103 "after my structure changes - our project should be broken and don't work because of paths to data folder"
Someone should fix it
if you don't remember prev version, here is commit: https://github.com/GroceriStar/groceristar-fetch/commit/6d00ac32e01ad5bb24e8d6f843a46063294a8402

[2018-10-20 14:53] #103 closed

[2018-10-20 19:45] atherdon commented on #17
@vadim9999 did we finish it?

[2018-10-20 20:18] vadim9999 commented on #17
@atherdon Now I will move this files

[2018-10-20 20:25] atherdon opened #106 "[CK] decide what to do with `working-data` folder and how to manage it properly"

[2018-10-22 12:08] vadim9999 opened #109 "Bug of ./src/screens/DisplayList/DisplayList.js"
When I install module groceristar-fetch version 1.1.26
I get error:
[code]

[2018-10-22 15:33] atherdon commented on #102
What tests, should be moved:

So, I want to have 3 separated Pull Requests, related to working tests for each of "projects".
If you want - you can split tests for each file that we connect at project - as a separated commit. but this is not necessary for me. But you can do it, in order to organize your work.

1) https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groc

[2018-10-23 18:02] kaiz123 opened #110 "Need to add a method called get grocery list by department."
This will be used in react-shopping-list-template in order to display grocery list when navigate to route with department_id parameter.

[2018-10-23 18:30] kaiz123 opened #111 "add id field to departments.json"
- will be used in react-shopping-list-template for routing with department id param

[2018-10-24 13:45] atherdon commented on #111
@kaiz123 i think you can check this methods and create something similar to this:
https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groceristar.js#L100-L122
Tell me if i can assign this task to you

[2018-10-24 13:47] atherdon commented on #110
Give us more details @kaiz123 what should be done and what should be returned.

[2018-10-24 20:11] atherdon commented on #111
we decided to not have this id numbers at json. this is why we using this uuid thing. please use it for our current work. Later we'll have a real base and this issue will be fixed.
If you want- you can create a separated method, so id will be generated for `id` field, not for key...
I think you can solve this task by yourself

[2018-10-24 20:17] kaiz123 commented on #111
If we have decided not to keep id inside the json then I think in the
frontend we can just have the department name as the route parameter as
that is unique. Generating the id in any other way except keeping it in the
json won't work.

On Thu, 25 Oct 2018, 01:41 Arthur Tkachenko, <notifications@github.com>
wrote:

[2018-10-24 20:30] kaiz123 commented on #111
Okay, will keep this open until there's a suitable solution found

On Thu, 25 Oct 2018, 01:53 Arthur Tkachenko, <notifications@github.com>
wrote:

[2018-10-24 20:49] atherdon commented on #111
if we have a one place - where we get all ids generated - i think this cannot be an issue for this moment. i agree that this is not a good turn around - but while we rebuildin our server - this is the only one

[2018-10-24 22:40] GuiFSs commented on #109
so, now the way we import modules from groceristar-fetch changed, the correct way would be e.g: `const { groceristar } = require('@groceristar/groceristar-fetch');
console.log(groceristar.getAllDepartments());` or `import { groceristar, mealCalendar } from '@groceristar/groceristar-fetch';`

[2018-10-25 09:37] atherdon commented on #109
@GuiFSs did you open a PR with this changes?

[2018-10-25 17:17] atherdon commented on #109
@vadim9999 can you publish latest Guilherme changes and check if this is solved our issue at React project?

[2018-10-25 17:18] atherdon commented on #109
we also should have an updated version of our Readme or documentation...

[2018-10-26 16:00] vadim9999 commented on #109
yes it's solved problem

[2018-10-26 16:15] atherdon commented on #109
did you publish a new version of plugin to npm? should i run updates for
our other projects?

[2018-10-26 16:18] vadim9999 commented on #109
We have a probleb in react-shopping-list-template. I need change imports from import gf from '@groceristar/groceristar-fetch/groceristar';
to this
const { groceristar } = require('@groceristar/groceristar-fetch'); console.log(groceristar.getAllDepartments());

[2018-10-26 16:19] vadim9999 commented on #109
It needs to change in all projects

[2018-10-26 16:29] atherdon commented on #109
ok, can @GuiFSs help you with this task? will you be able to get list of all projects, that require this changes?

[2018-10-26 16:31] atherdon commented on #109
and lets create a separated task for discussing this work. because this place was for bug, and we should close it

[2018-10-26 16:57] atherdon commented on #109
i'll do it myself.

[2018-10-26 17:18] atherdon opened #118 "update connection with fetch plugin at React projects"
1) Recipe App
https://github.com/ChickenKyiv/recipe-app-react-native/blob/master/src/components/Directions/index.js#L7
https://github.com/ChickenKyiv/recipe-app-react-native/blob/master/src/components/FreeRecipes/index.js#L6
https://github.com/ChickenKyiv/recipe-app-react-native/blob/master/src/components/GroceryList/GroceryList.js#L8
https://github.com/ChickenKyiv/recipe-app-react-native/blob/mas

[2018-10-26 17:20] #109 closed

[2018-10-28 13:07] atherdon opened #119 "update Recipe4 folder to Recipe and make sure everything is works fine"

[2018-11-01 14:45] atherdon commented on #110
@kaiz123 will you be able to help us? we starting to work on it, but details are welcomed

[2018-11-02 09:19] kaiz123 commented on #110
Im not sure about what would a grocery list associated with a specific department contain.

[2018-11-02 13:44] atherdon commented on #110
hmm, so how we should make it in this case?

grocery usually contain departments and ingredients ;)

[2018-11-03 17:48] vadim9999 opened #123 "function getRecipe() returns undefined"
https://trello.com/c/0H7AnhCv/47-function-getrecipe-returns-undefined-fetch

[2018-11-03 18:57] vadim9999 commented on #118
In src need create folder selectors with Selector.js. There you should add imports that used in current project and create methods to get data.
For example, fetch conected in component like this
[code]
In latest version of fetch need to rebase import from
`import data from "@groceristar/groceristar-fetch/mealCalendar";`
 to
`import {mealCalendar} from "@groceristar/groceristar-fetch";`

[code]
Now

[2018-11-03 19:50] atherdon opened #124 "animated code"
https://glorious.codes/demo?ref=producthunt

[2018-11-04 15:04] aanchirinah commented on #123
I'm on it

[2018-11-04 15:05] Avuidrauxs commented on #123
@vadim9999 I have fixed it in this PR, https://github.com/GroceriStar/groceristar-fetch/pull/126

[2018-11-04 15:55] atherdon commented on #110
@kaiz123 done by this PR: https://github.com/GroceriStar/groceristar-fetch/pull/126
soon will update package at our project

[2018-11-04 16:05] atherdon opened #127 "update documentation for methods from PR 126"
Add details/explanation how the method works with an example to `docu` branch.
this file: https://github.com/GroceriStar/groceristar-fetch/blob/docu/docs/Groceristar.md

After merging this changes - buzz Vadim, so he'll publish an updated version of website at hosting

[2018-11-04 16:10] kaiz123 commented on #110
Sure. Looks good.

On Sun, 4 Nov 2018, 21:25 Arthur Tkachenko, <notifications@github.com>
wrote:

[2018-11-04 16:11] Avuidrauxs commented on #127
Okay I'm on it

[2018-11-04 16:14] atherdon commented on #110
Will close it when
1) we publish our changes at npm,
2) documentation website will be published,
3) I'll update our react projects
4) Kaiz will confirm that current method is ok and can be used
5) done

[2018-11-04 16:17] atherdon commented on #127
please follow this link: https://github.com/GroceriStar/groceristar-fetch/invitations

[2018-11-04 16:20] atherdon opened #128 "[documentation][separate methods into different files, stored in one folder and connected to the project page]"
can explain details by request

[2018-11-04 19:49] #127 closed

[2018-11-04 20:00] #123 closed

[2018-11-04 20:33] atherdon commented on #118
as sample
https://github.com/GroceriStar/calendar/blob/master/src/components/selectors/selector.js
https://github.com/GroceriStar/calendar/blob/master/src/components/Calendar/Meal.js

[2018-11-04 20:38] atherdon commented on #110
@kaiz123 we published a method that you've requested. i also update package at our project. please take a look: https://github.com/GroceriStar/groceristar-fetch/blob/docu/docs/Groceristar.md#get-an-array-of-grocery-lists-based-on-department

[2018-11-04 21:10] atherdon opened #131 "Selectors. React Projects"
https://github.com/GroceriStar/groceristar-fetch/issues/118

[2018-11-04 21:11] atherdon opened #132 "Selectors. Recipe App"

[2018-11-04 21:11] atherdon opened #133 "Selectors. GS app"

[2018-11-04 21:11] atherdon opened #134 "Selectors. Showcase"

[2018-11-04 21:11] atherdon opened #135 "Selectors. Search Form"

[2018-11-04 21:12] atherdon opened #136 "Selectors. Meal Forms #23"

[2018-11-04 21:12] atherdon opened #137 "Selectors. GS frontend"

[2018-11-04 21:12] atherdon opened #138 "Selectors. Recipe Box"

[2018-11-05 11:02] kaiz123 commented on #110
Looks good.

On Mon, 5 Nov 2018 at 02:08, Arthur Tkachenko <notifications@github.com>
wrote:

[2018-11-06 02:51] #110 closed

[2018-11-09 03:07] atherdon opened #140 "new project."
https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groceristar.js#L25-L34

[2018-11-09 03:27] atherdon opened #141 "showcase method doesn't work"
https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groceristar.js#L27-L42

I test it and it should work fine. but it doent' for showcase project

[2018-11-09 04:09] atherdon opened #142 "issue"
https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groceristar.js#L149

[2018-11-09 04:13] atherdon commented on #141
#140

[2018-11-18 11:49] #141 closed

[2018-11-24 05:43] atherdon opened #145 "documentation. selector way [docs]"
Add examples about how actually we can add fetch by using selector approach
https://github.com/GroceriStar/react-native-shoppin-list/tree/master/src
https://github.com/GroceriStar/react-shopping-list-template
https://github.com/GroceriStar/showcase
https://github.com/GroceriStar/calendar

[2018-12-13 05:35] #134 closed

[2018-12-14 00:34] atherdon commented on #132
#131  https://github.com/ChickenKyiv/recipe-app-react-native

[2018-12-14 00:35] atherdon commented on #133
#131  https://github.com/GroceriStar/react-native-shoppin-list

[2018-12-14 00:35] atherdon commented on #135
#131  https://github.com/ChickenKyiv/recipe-search-react

[2018-12-14 00:35] atherdon commented on #136
#131 https://github.com/GroceriStar/react-only-intern-23

[2018-12-14 00:36] atherdon commented on #136
https://github.com/GroceriStar/calendar

[2018-12-14 00:36] atherdon commented on #137
#131

[2018-12-14 00:36] #137 closed

[2018-12-14 00:36] atherdon commented on #138
#131 https://github.com/ChickenKyiv/recipe-box

[2018-12-14 00:41] atherdon opened #149 "extend number of grocery lists"
- [ x ] Read intro article:
- [ ] discussion at Trello task: https://trello.com/c/TDNcWeCB/31-extend-number-of-grocery-lists-by-moving-data-that-i-put-into-folder-grocery-lists-i-think-we-dont-need-to-move-it-in-bulik-mayb
- [ ] fork our repository
- [ ] move files from https://github.com/GroceriStar/groceristar-fetch/tree/master/grocery-lists
to https://github.com/GroceriStar/groceristar-fetch/tr

[2018-12-14 08:35] atherdon commented on #149
@kraftaa Wow! You did a great research. this is what i wanted from you.

yep. that data right now didn't connected with our js methods (data from folder "grocery-lists") - I mean we cannot get access to it from the outside. When you'll move this data - we'll delete that folder.

We have one department(Beans) and an array of 6 ingredients - connected with this department.
2.2 Item right now is equa

[2018-12-16 23:10] kraftaa opened #151 "Repetitive and mutually exclusive departments' names in `groceristar-fetch/data/Grocery/grocery.json`"
In `groceristar-fetch/data/Grocery/grocery.json` we have different arrays of departments name,
which are in most cases repetitive and mutually exclusive like
`"Fresh vegetables"`, `"VEGGIES"`, `"VEGETABLES"` etc.

[2018-12-18 05:14] kraftaa commented on #149
I've added new ingredients to the departments from the array id:1 in grocery.json
pull check failed as each object has to have property `departments`.
I got confused where these ingredients have to be added -inside first array or just additional 1 dict with all new arrays inside.
Could you please have a look at my file in the fork:
https://github.com/kraftaa/groceristar-fetch/blob/master/data/Groc

[2018-12-18 05:30] atherdon commented on #149
ok, will check it right now.

[2018-12-18 06:12] atherdon commented on #149
i understand why you're confused :)
it's not an easy put cool task for js developer.
let me show you how I would do this task
https://www.useloom.com/share/1cc82ed133804aff92435933339a4d9e

i also start to thinking that maybe i can make this task easier - by applying clear format for this shop lists... because right now i think it's not an easy task to differentiate departments/ingredients...

[2018-12-18 06:16] atherdon commented on #149
@kraftaa buzz me if something will be not clear

[2018-12-18 16:45] kraftaa commented on #149
thank you for the video, really appreciate it.
I understand the idea, but still can't get how to combine ingredients -they are so overlapping and would create (sorry if I'm wrong) a weird shopping list due to inconsistent list of ingredients.
I mean: in video we have ingredients "Beans" , department "Other"
but in fact it's legumes and "Beans" by itself would have an array of different variety of

[2018-12-19 02:04] atherdon commented on #149
i totally agree with your points.
and yeah - overlapping ingredients it's a big problem(but it can be solved in a programmable way).

---

so tell me what we should do. because i have a lot of details about how to extend this database - and your points 100% correct. but I don't want to do it myself :) we can continue this conversation and explore different ways that will help us to make this modul

[2018-12-19 05:21] kraftaa commented on #149
thank you!
I'll have a look again at data and will try to express my ideas.
And thank you for the links!

[2018-12-21 02:56] kraftaa commented on #149
Hi Arthur,
thank you for the links!
Sorry for not answering right away - now it's Christmas time with all hectic and crazy stuff :)
I've been thinking that I see schema like that- sorry it's very basic,
but the main thing is ingredient which is linked to all other tables which have different departments, menus, diet plans, organic or not, high in carbs, fat, available here or there

https://docs.g

[2018-12-21 10:42] atherdon commented on #149
working on the long reply to you.
just briefly:
- I like your schema, but it can be improved.
- we're using MongoDB but maybe later we'll switch to DynamoDB(pretty similar, but it's backed by Amazon with other good features...)

more info soon

[2018-12-23 05:59] atherdon commented on #149
@kraftaa i think we should continue this task as it is for this moment. Let's put new grocery objects into grocery,json, departments to departments and ingredients at separated files.
when i'll finish my article - you'll be able to have more data and we'll be able to think about a better.
right now the goal is to reduce amount of tasks for this module.

btw, just to let you know - this is actually

[2018-12-25 08:31] atherdon opened #154 "create nice gif that wouldn't sucks"

[2018-12-25 09:43] atherdon commented on #149
Btw, you can preview how actually we're using our fetch plugin with section, related to grocery lists at our showcase repo: https://github.com/GroceriStar/showcase
deployed website: https://boring-benz-76e55f.netlify.com/
hope this will help

[2018-12-25 16:18] kraftaa commented on #149
hi Arthur,
thank you,
nice react app!
I have couple of questions:
1)  `Dairy` but also `Cheese` which is diary and they are different departments while different cheese ingredients are in `Cheese` department which is in `Diary` department. If we want this app to be useful - people won't bother themselves looking for item in different departments, I believe users tend to be as lazy as possible and

[2018-12-26 04:59] atherdon commented on #149
@kraftaa you are raising a lot of good and important questions!
1. Cheese is an ingredient at Dairy department.
(briefly. but we actually have a completed database for dairy products with a really cool classification. but i'm not sure if we are ready to use it in our current situation)
---

Again - i understand your concerns, but with limited resources - it's hard to keep eye on everything. We can

[2018-12-26 14:10] atherdon opened #155 "[CK]getIngredient is not an equal to getIngredient from Search..."
they have a different structure. please address that

[2018-12-27 12:00] atherdon opened #156 "quick-task"
submit it at separated pull request

- [ ] update this method https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/Search/search.js#L46-L89

- [ ] finish this method https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/Search/search.js#L96-L119

- [ ] we need to buzz Vadim, he will run tests - they will fail because we didn't add tests for last 2 methods and when

[2018-12-28 00:00] kraftaa commented on #149
Hi Arthur, thank you

I agree. better keep going than wondering about perfect structure.
No - I haven't edited `.md` files, I've just copied data from it for the question.
I think I got it, and made `.json` files with ingredients for `1.md` and updated `grocery.json` accordingly (synced fork before it).
Surprisingly when I created pull request it failed check - saying that for departments length:

[2018-12-28 06:36] atherdon commented on #149
will take a look soon.
btw, i'll advise you to use pull requests approach instead of committing into the main repo - it will help us to prevent problems and i'll be able to view your changes in the more organized way.

[2018-12-28 06:39] atherdon commented on #149
while i'm reviewing your changes/questions, you can help me with this #156

[2018-12-28 07:38] atherdon commented on #149
check how looks data when it's edited:
![editing groceristar fetch 1 md at master groceristar groceristar fetch](https://user-images.githubusercontent.com/1469198/50506535-15d7c800-0a82-11e9-8b89-8f3927935c67.png)

For some of lists - this version looks better than when you preview .md file

---

Btw, your request to review your changes is a perfect example about the reason of using tests. We have

[2018-12-28 07:40] atherdon commented on #149
hold on. i think github notifications misguided me. let's keep it on pause while i'm figuring it out

[2018-12-28 08:32] atherdon commented on #149
in case that you interested - this is one of the tasks, related to tests: #102

[2018-12-28 10:41] atherdon opened #157 "clean up duplicates in a smarter way"
first of all, we need to have a set of rules what is exactly a duplicate...

https://gomakethings.com/removing-duplicates-from-an-array-with-vanilla-javascript/
https://forum.ionicframework.com/t/how-to-prevent-adding-duplicate-values-to-a-javascript-array/103809
https://codehandbook.org/how-to-remove-duplicates-from-javascript-array/
https://stackoverflow.com/questions/46700862/trying-to-prevent-

[2018-12-28 13:05] kraftaa commented on #149
Thank you, agree tests are great tools.
I'll have a look at the issues.
Thank you
Ps: doing github tutorial again thanks fo teaching me!

[2018-12-28 13:39] atherdon commented on #149
no problem! still reviewing your code.
Btw, it was not your fault. I was misled by email from GitHub. You did it fine. @kraftaa

[2018-12-28 14:02] atherdon commented on #149
1. in order to run tests(and receive an error that we got from build at our PR) you need to run `yarn run test`
2. i moved away function, that related to your build issue. please check a static-files.test.js
we just hardcoded the values of size of arrays that we have in our static files, in order to be aware - when something will be changed.
3. in order to update count - you need to run `yarn run

[2018-12-28 15:37] atherdon commented on #149
pushed updates - buzz me if you have questions

[2018-12-28 17:37] atherdon opened #158 "[readme] array to files"
As we plan to migrate our plugin to transpilable version - we'll get rid of json files and replace them with ```export default array;``` So in order to make this module portable to other languages - not just working with JS - we should add some examples about how to convert our stuff into json or csv version

something like that: https://stackoverflow.com/questions/14964035/how-to-export-javascrip

[2018-12-28 19:14] kraftaa commented on #149
thanks,
I've looked at `staticFiles.test.js` and I see
[code]
what is it?

I've also looked at `grocerystar.test.js` and see the limit about array's count:
[code]

I've run `yarn run test` and got
[code]
I'm a bit confused how can I fixed it.
 thank you

[2018-12-28 20:15] atherdon commented on #149
@kraftaa hold on - i'll take a look on bugs first and then answer to your questions.
I start to touch the code at this project and everything start to tear apart :(

I hope - you commit your last changes to your repo if you make some, right?

[2018-12-28 20:18] kraftaa commented on #149
Right :)
No worries

[2018-12-28 21:01] atherdon commented on #149
perfect catch! nice "vision"

---

For the second issue please share a code link at next time, because it's hard to find a code line.

At my side i don't have issues, but this a es6/es7 feature - maybe your nodejs server didn't support it?
Read more about it here:
[simple](http://es6-features.org/#SpreadOperator)
[long explanation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/

[2018-12-30 08:12] atherdon commented on #149
don't worry - to be honest - es6 syntax is hard to remember and use for me too.
i has an old coding habit and sometimes I'm confused when I read some "logic structure" that was coded by someone else.

yes, you can continue to move data from .md files.
if you want -  i can just disable tests - related to count? i think it'll make the current task easier to do.

Again - you can count updated size of

[2019-01-01 08:57] atherdon opened #161 "html markup question"
just reviewed your profile a bit deeply and find that you have skills related to markup.
i have one markup that was build while ago, and i want to give him a new life and share with others.
tell me if this will be interesting for you and i'll prepare more details

[2019-01-01 08:59] atherdon commented on #161
i'll also share my plan with my frontend developer expert - so he'll be able to track our progress and make comments

[2019-01-01 09:20] atherdon opened #162 "build/format our json files in jsonl for build ready version"
https://hackernoon.com/json-lines-format-76353b4e588d

[2019-01-02 14:57] #54 closed

[2019-01-05 22:31] atherdon commented on #156
i think it;s fixed or finished....

[2019-01-05 22:32] atherdon commented on #156
or at least i update file, so this limes didn't aligned well...

[2019-01-05 22:33] atherdon commented on #157
or it can be done in a proper way, with help from ML team. i think they have a better tools and solution for this stuff

[2019-01-05 22:34] #135 closed

[2019-01-05 22:36] #47 closed

[2019-01-06 22:20] atherdon commented on #151
#157

[2019-01-06 22:39] atherdon commented on #111
i think it's solved, because we're generate an id in our methods. it works for now.

[2019-01-06 22:39] #111 closed

[2019-01-08 14:54] atherdon opened #163 "think about it"
https://www.reddit.com/r/javascript/comments/9270go/how_to_merge_two_arrays_of_objects_into_a_new_one/
https://www.js-data.io/docs/modeling-your-data

[2019-01-16 20:31] atherdon opened #165 "[documentation]gql"
add this methods + example:
https://github.com/GroceriStar/groceristar-fetch/pull/164#issue-245274102

[2019-01-16 20:34] vadim9999 commented on #165
getDepartmentsGraphQL()
Result
[code]
getDepartmentsGraphQLKey()
Result
[code]

[2019-01-17 11:54] vadim9999 commented on #165
```groceristar.getGroceryGraphQLKey()```
Result
[code]

[2019-01-17 13:07] vadim9999 commented on #165
`groceristar.getUsersGraphQL()`
Result
[code]
---
`groceristar.getUsersGraphQLKey()`
[code]

[2019-01-20 01:43] atherdon commented on #149
- [ ] push to npm, compare results at our React projects like a showcase

[2019-01-20 04:02] #145 closed

[2019-01-20 04:03] #128 closed

[2019-01-20 04:03] atherdon opened #168 "[documentation][tasks]"
1) docs, related to our groceristar graphql server
https://github.com/GroceriStar/groceristar-fetch/issues/165#issue-399983876
https://github.com/GroceriStar/groceristar-fetch/issues/165#issuecomment-454930278
https://github.com/GroceriStar/groceristar-fetch/issues/165#issuecomment-455146186
https://github.com/GroceriStar/groceristar-fetch/issues/165#issuecomment-455165698

---

2) selector way
Ad

[2019-01-20 04:03] atherdon commented on #165
merged with other documentation related tasks

[2019-01-20 04:03] #165 closed

[2019-01-20 04:04] #156 closed

[2019-01-20 04:06] atherdon opened #169 "at showcase project we have a component that prints json in a pretty way. Should we have similar method here?"
https://github.com/GroceriStar/showcase/tree/master/src/components/PrettyPrintJSON

[2019-01-20 04:10] atherdon opened #170 "Features. Enhancements"
- [ ]  pretty json #169
- [ ] convert json into csv file? #158

[2019-01-20 04:13] #124 closed

[2019-01-20 04:14] #162 closed

[2019-01-20 04:15] #154 closed

[2019-01-20 04:20] #142 closed

[2019-01-20 04:32] #11 closed

[2019-01-20 04:37] #94 closed

[2019-01-20 04:38] #90 closed

[2019-01-20 04:39] #43 closed

[2019-01-20 04:40] #8 closed

[2019-01-20 04:41] #7 closed

[2019-01-20 05:03] #26 closed

[2019-01-20 05:04] atherdon commented on #42
ChickenKyiv][Free Menu release][db import]

https://github.com/ChickenKyiv/recipe-api-only/tree/master/bin

https://www.useloom.com/share/2c1f745dcb8b496eae055e16b1d599ca

GroceriStar/react-only-intern-23#59

---

[Search API][compare and clean our import script]

https://github.com/ChickenKyiv/recipe-search-api

[2019-01-20 05:04] atherdon commented on #42
https://github.com/ChickenKyiv/recipe-search-api
Video: https://www.useloom.com/share/9e1cae9416f54efcaa2a2036b229919d

[2019-01-20 05:04] #29 closed

[2019-01-20 09:36] #157 closed

[2019-01-21 00:36] atherdon opened #173 "move away basic get methods from projects."
- [x] https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js#L12-L22
- [x] https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/groceristar.js#L11-L25
- [x] https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/ChickenKyiv/chickenKyiv.js#L17-L44
- [x] https://github.com/GroceriStar/groceristar-fetch/blob/mas

[2019-01-21 05:14] atherdon opened #174 "Discussion with team"
Part 1

## Organizational problems

#### Current version of plugin is ES5 version.
Problems:
- not minifying, so when we deploy on Netlify our create-react-app`s it's crashing deploy.
- We didn't build our code, didn't using ESLint and tests

#### Code organization and structure
My goal was just to keep all static files/data in the same separated place at the beginning.
So we didn't keep a lot of

[2019-01-22 03:35] atherdon commented on #174
After the conversation with Vadim we still didn't figure it out but decided to try building big objects, that will contain whole information. aka one object is equal to the whole database. details - #60
i'm working on the next parts of this "chat", will publish it soon

[2019-01-22 06:20] atherdon opened #175 "food departments database..."
http://www.directionsforme.org/categories

https://github.com/spbriggs/USDA-SR26/tree/master/sr26

http://ndb.nal.usda.gov/
https://ndb.nal.usda.gov/ndb/search/list

https://stackoverflow.com/questions/39185915/relational-database-tables-for-food-products-specifying-different-categories
https://www.cdc.gov/mmwr/preview/mmwrhtml/mm6105-table.htm
https://www.efsa.europa.eu/en/food-consumption/compre

[2019-01-22 06:21] atherdon commented on #175
https://opendata.stackexchange.com/questions/10767/api-for-localized-nutrition-and-food-data?rq=1
https://opendata.stackexchange.com/questions/9378/seeking-a-food-product-taxonomy?rq=1
https://opendata.stackexchange.com/questions/9225/where-can-i-find-open-database-with-food-product-names-and-their-calories?rq=1

[2019-01-22 12:46] atherdon commented on #60
first version was done by method `getKeyArray`

[2019-01-22 13:22] atherdon commented on #60
third method will incorporate this structure
[code]

[2019-01-23 07:15] atherdon commented on #174
### By Moving out JSON files
* we'll have a better name for the package, that store static food data
* it will more easy to test and compile.
* it will have only one function: keep static files and return data from them
Example: Some days ago Marina was updating JSON files, and build generate an error. And this is a good situation because we have some tests, that send us alarms. But it can be done

[2019-01-23 17:40] atherdon commented on #60
As additional methods, we can also create objects, related to this schemes(one of them is GS, for sure :))
- https://chickenkyiv.github.io/documentation/docs/database-schemes/chickenkyiv-schema.html
- https://chickenkyiv.github.io/documentation/docs/database-schemes/recipe-search-api-schema.html
- https://chickenkyiv.github.io/documentation/docs/database-schemes/shoplist.html
- https://chickenkyiv

[2019-01-23 18:29] atherdon opened #176 "ingredient list"
based on https://github.com/GroceriStar/react-shopping-list-template/pull/169

In order to have a cool web based grocery list we should have nice UI that help us to manage ingredients.
This is why we've created a big number of small components.
on your last PR i find that you're passing a small amount of data into that lists.
This is what you've send
[code]

List like on this example should be rea

[2019-01-23 18:40] atherdon commented on #60
i have doubts about method `getKeyArray`
first of all it's hard to understand what is he ding without printing it.
second of all it's confusing what is related to key and what is related to value.

also i find out that this array return ```790672 more items ]``` and i think it's a really big number. or maybe i'm wrong...

[2019-01-23 20:51] atherdon commented on #60
make sence

[2019-01-24 06:25] atherdon opened #177 "upgrade importing files process"
Each project-related file has a list of required files.
We should move them away, into a separated file.

Before:
[code]

after
[code]
Use the same approach at *.test files too.
You can see a completed version at `mealCalendar`
In order to test if it works fine, run `npm run test`

[2019-01-24 14:25] vadim9999 commented on #60
@atherdon
Sorry I have found my mistake. I will fix it

[2019-01-24 14:32] atherdon commented on #60
not a problem. i'm still expanding this task - will share my results(task list) with you soon. this is why i un-assign you from this task. i thnk it should be better explaned

[2019-01-24 14:57] vadim9999 commented on #60
We have a problem. If in Departments name of department is "Condiments / sauces" and in indgredients department is "Condiments / Sauces" it's defferrent string fields.

[2019-01-24 15:01] vadim9999 commented on #60
We have 303 tied all ingredients with all departments

[2019-01-24 15:17] atherdon commented on #60
Can we catch such kind of things or only by eye? i'm aware of this problem. we need to find a way to do it #157

[2019-01-24 15:30] atherdon opened #179 "explain how to use playground for testing purposes"

[2019-01-24 15:43] vadim9999 commented on #176
I can't understand about where should be three links? why it's needs? What they should do?

[2019-01-24 15:50] atherdon commented on #176
i'll explain links whne we'll complete main part of this task.

[2019-01-24 16:00] atherdon commented on #176
quick answer: check images below
![123](https://raw.githubusercontent.com/GroceriStar/creative/master/prev.%20design.screens/Shopping%20List%20%2059f1695cd534650012ae0ee7.png)
![123](https://raw.githubusercontent.com/GroceriStar/creative/master/prev.%20design.screens/Shopping%20List%20%205a6fb00ef3909e0012274dab%20(1).png)
![123](https://raw.githubusercontent.com/GroceriStar/creative/master/prev.%

[2019-01-24 16:56] vadim9999 commented on #60
if we need just to match strings I think we can uppercase all strings and then to compare it

[2019-01-24 17:16] atherdon commented on #60
it's an interesting idea, but i think we should see this issue as part of the big issue.
First of all - it's not only departments have duplicates. Second - Marina proposes to update the whole structure of departments. instead of having Dairy for all products, related to Milk,
we'll have:
[code]

[2019-01-25 04:53] atherdon opened #181 "provide comments, related to getKeyArray method"

[2019-01-25 08:14] atherdon commented on #174
hi everyone, need your opinion on this @kraftaa, @vadim9999 @Avuidrauxs

[2019-01-25 14:17] vadim9999 commented on #176
In PR https://github.com/GroceriStar/react-shopping-list-template/pull/176

[2019-01-25 14:36] #176 closed

[2019-01-25 16:49] atherdon commented on #60
we need to add methods, that have 'key' at https://github.com/GroceriStar/groceristar-fetch/pull/182

[2019-01-25 18:03] vadim9999 commented on #60
need I make another method like getKeyArrayDepAndIng for another table?

[2019-01-25 18:14] atherdon commented on #60
Not at this moment. I'm still gaining all information together.

[2019-01-25 18:17] atherdon commented on #60
if you wish to move this task forward - you can show me a method that will
grab all grocery related information together. so I'll be one huge object.
but the structure of this object is debatable, so only if you want to try -
do it. or we can wait when I'll put all the important information for fetch
into one place.
Btw, did you saw content at 'discussion' task?

[2019-01-25 18:52] atherdon commented on #60
if you want to try - tell me - and I'll create a separated task. because this thread is dirty and hard to follow

[2019-01-28 13:57] atherdon opened #184 "data quality"
based on this comment: https://github.com/GroceriStar/groceristar-fetch/issues/149#issuecomment-448287606

[2019-01-28 15:51] atherdon opened #185 ""groceristar" big object"
main task: #60

I think it's a good time to work on this task.
The first version we will battle test at showcase - we have an issue there: https://github.com/GroceriStar/showcase/issues/197

## GL
structure of our collection should be:
[code]
But be ready for example to create a different type of structure:
[code]

---

Today I run our REST api server and print ultimate GL that we have. i think it

[2019-01-28 16:01] atherdon opened #186 "for some reason gl file rabel-dietitian is empty.."

[2019-01-28 16:33] sanchit94 commented on #186
I think it has been empty all this while!

[2019-01-28 17:09] atherdon commented on #186
you maybe right. i just can recollect it in my memory

[2019-01-28 17:11] atherdon commented on #186
will try to search up to old commits about this file.
Are you back to us, Sanchit?

[2019-01-28 17:34] atherdon opened #187 "add test coverage for new added grocery lists"

[2019-01-28 17:42] sanchit94 commented on #186
Yeah I tried searching it too, cannot find it in history of the master branch though!

[2019-01-28 17:43] sanchit94 commented on #186
Am I back? Even I don't know that! :)

[2019-01-28 17:50] atherdon commented on #186
haha :0 will be happy to have you with us again.

I actually find the source of data, and commit is related to Jule 12th.
scrolling into it.
And happy to know that my approach with keeping everything at git can help
to crack it...

[2019-01-28 20:37] atherdon commented on #186
We all are beginners ;) this project is plain JS(let's assume it nodejs) but we also setting up some middleprojects that actually has an express core. i think we can start from here, and then slowly move to express stuff. what do you think?

[2019-01-29 08:33] atherdon commented on #186
this actually the link to main source of that grocery list: https://rebelrd.com/shopping-lists/
i'll dig more and i assume i'll find at least partially converted content into suitable format

[2019-01-29 12:02] atherdon commented on #149
reviewing our conversations from this task and #153

[2019-01-29 12:19] atherdon commented on #186
Jul, 12th is our day for cathing it: https://github.com/GroceriStar/groceristar-fetch/commits/master?after=c57b18aa4e08af0f8221153a2d6d640413e1a6d6+384

[2019-01-30 00:38] atherdon opened #188 ""ck" big object"
last printed recipe(without ingredients, for some reasons....)

[code]

#60

[2019-01-30 02:34] atherdon commented on #185
i forgot to tell you, that GS swagger works too ;(
check this link: http://groceristar.herokuapp.com/explorer/

[2019-01-30 07:33] sanchit94 commented on #186
Looks good Arthur! Hope we can get something out of this. Why don't you assign me small tasks that are not on priority, so that I can get hands on with this stuff!

[2019-01-30 16:43] atherdon commented on #186
noted @sanchit94 i have so low-level, but really hard core tasks

[2019-01-30 17:06] atherdon opened #189 "update methods that return random elements"
Proposal: use lodash methods for returning random elements
and replace few of our Math.random methods with _.random
[code]
https://lodash.com/docs/4.17.11#sampleSize

#170

[2019-01-30 17:47] atherdon commented on #174
@sanchit94 this is a task that paint the big picture of upcoming changes

[2019-01-31 10:08] atherdon opened #190 "we have data examples from our loopback server"
we can replace them with our custom methods, in order to have a similar logic

[2019-01-31 10:12] atherdon commented on #190
project - "Loopback"
3 methods inside

[2019-01-31 11:30] atherdon opened #191 "i published an update (sample from real server)"
I grab static data from our groceristar API server.
exported them to this plugin and made them accessible outside.
at this task you need to connect methods, that return this data at our few projects.
all this methods stored at loopback folder: https://github.com/GroceriStar/groceristar-fetch/tree/master/projects/GS-Loopback
all methods should be exported at selector files:
- [x] showcase, https://

[2019-01-31 11:30] atherdon commented on #191
@aanchirinah do you want to grab this quick task?

[2019-01-31 11:33] Avuidrauxs commented on #191
@atherdon , Yes I would love to

[2019-01-31 11:38] atherdon commented on #191
awesome. it's yours. with this task we'll train your 'vision' between projects

[2019-01-31 11:47] atherdon commented on #191
no. At `loopback` folder we have 3 methods right now.
I want to be able to call these methods at projects, that i list below

[2019-01-31 11:48] atherdon commented on #191
so at fetch plugin we `exported` main loopback object and 3 methods. and
your task will be `import` this object with methods

On Thu, Jan 31, 2019 at 1:46 PM Arthur Tkachenko <
arthur.tkachenko.netweight@gmail.com> wrote:

[2019-01-31 11:50] Avuidrauxs commented on #191
@atherdon , So you want me to rather import the loopback methods into the other projects using the selector pattern?

[2019-01-31 11:53] atherdon commented on #191
yep.
Show me the code at PRs and i'll tell you if you wrong :)

[2019-01-31 16:13] atherdon opened #192 "auto-generated Items & Favorites arrays"
https://github.com/GroceriStar/groceristar-fetch/blob/master/data/Ingredients/items.json

https://github.com/GroceriStar/groceristar-fetch/blob/master/data/Ingredients/favorites.json

[2019-02-01 10:46] atherdon commented on #191
@Avuidrauxs yes, this is what we need! submit as PRs and i'll approve it

[2019-02-01 10:53] Avuidrauxs commented on #191
@atherdon , when I pulled recent changes from `Fetch` I noticed we have failed tests

[2019-02-01 11:06] Avuidrauxs commented on #191
@atherdon , Here is the  [PR](https://github.com/GroceriStar/showcase/pull/202) for Showcase

[2019-02-01 12:53] atherdon commented on #191
Plus you can add some test at index.test.js in order to completely connect loopback-related methods.
I'm publishing right now your fix at npm, so we will be able to receive this methods at our react projects.

[2019-02-01 13:09] atherdon commented on #191
i updated fetch package at showcase, fake-api,  grapql, shoplist - you can continue this task

[2019-02-01 17:35] atherdon commented on #168
not sure if i get your question

[2019-02-01 17:37] atherdon commented on #168
my goal was to add an explanation for next interns, about how we importing data from fetch into our React projects, briefly.

[2019-02-02 00:01] kraftaa commented on #177
Arthur,
Am I correct that in Project folder in all files I have to change from (eg ```ChickenKyiv```)

[code]

into

[code]
I see we have `files.js` in `mealCalendar` with all paths. Do we need such files in other Project folders ?

thank you!

[2019-02-02 03:15] Avuidrauxs commented on #191
@atherdon
Shoplist template [PR](https://github.com/GroceriStar/react-shopping-list-template/pull/183)

Fake-API  [PR](https://github.com/GroceriStar/fake-api/pull/11)

[2019-02-02 11:02] atherdon commented on #177
yes, you right, or you can use a short version
[code]

yes, we need to have the same approach at other projects too. btw, as you also can see - that `staticFiles.test.js` testing if files have data. I think we need to rename it into `files.test.js`.
These changes later will help us to split this plugin into two pieces.

[2019-02-02 11:05] atherdon commented on #192
both of these files we need at the graphQL project, but a piece of information are static, and I assume we can replace them with methods, that will create these data structures on the fly.

[2019-02-02 11:12] atherdon commented on #168
Vadim completed 1st & 2nd task

[2019-02-02 11:16] #179 closed

[2019-02-02 11:17] atherdon commented on #168
closing this task, because we move it here: https://github.com/GroceriStar/static-food-data-documentation/issues/3

[2019-02-02 12:03] atherdon commented on #173
I separated all default methods at the top of our `major project files`
by moving these default methods out we'll reduce the number of code and also we'll need to remove(or update) our test files, where we're calling these methods.
At search project i made some changes, that will help us with this task. i created a basic `__.get` method, that can be used for all major our cases(i assume that it wo

[2019-02-02 12:46] atherdon commented on #177
side note - please use a pull request logic. Right now you have access to merge your changes into the main repository, but it requires double checking. For example, right now some of our tests crash after your commits and we weren't aware of it. with PR we have a build setting, that runs all tests automatically.

[2019-02-02 12:47] atherdon commented on #177
you can see it here: https://github.com/GroceriStar/groceristar-fetch/commits/master

[2019-02-02 13:17] atherdon commented on #177
side note: you can check if json file is valid here: https://jsonlint.com/

[2019-02-02 13:52] atherdon commented on #174
With the latest changes from Marina(we increased the number of grocery lists from 8 to 28). I think it's crucial to update the way how we merge all the data together. It's easy to illustrate - just open 'data/Ingredients' and you'll see how much files we have there. It looks scary and we should address that.

[2019-02-02 13:55] Avuidrauxs commented on #174
@atherdon , Oh sorry to join this conversation late.

[2019-02-02 13:58] atherdon commented on #174
other problem: it's hard to validate the structure of JSON file when we're working with it manually. So i install a plugin 'jsonlint' and at the root of the package, we have a config file for it. Right now i add only grocery.json, but I assume we'll add all of our files to this file and run validation checks. It works only from CLI or at Travis CI builds. It'll throw an error when something is wro

[2019-02-02 13:58] Avuidrauxs commented on #174
@atherdon , I absolutely agree that we switch the plugin to ES 6 and strongly follow ESlint rules

[2019-02-02 14:10] Avuidrauxs commented on #174
@atherdon , I can start converting some projects to ES 6 for you including adding tests. Just guide me on how you want it done.

Also regarding the JSON files, I need to research more and reflect on your findings to give a detailed response

[2019-02-02 14:56] atherdon commented on #191
buzz me when you'll update selectors at graphQL server - just want to close this task

[2019-02-02 21:33] vadim9999 commented on #185
[code]
Result
[code]

[2019-02-02 21:39] atherdon commented on #185
hmm, so we have it, right?

What about displaying all grocery lists at one array?

[2019-02-02 21:43] atherdon commented on #191
ok, it's done, closing

[2019-02-02 21:43] #191 closed

[2019-02-02 21:43] Avuidrauxs commented on #191
@atherdon , Final [PR](https://github.com/GroceriStar/graphql-server/pull/50) for GraphQL

[2019-02-02 21:57] vadim9999 commented on #185
some departments from grocery doesn't exist in departments.json
Maybe it's someone helps
[code]

[2019-02-02 22:02] vadim9999 commented on #185
In PR https://github.com/GroceriStar/groceristar-fetch/pull/196
this method returns array of objects like in example ultimate-gl-from-loopback-server-example
groceristar.getGroceriesWithDepIngKey()

[2019-02-02 22:15] atherdon commented on #185
we need to post this into some separated issue and mention what you've found at our "discussion task"

[2019-02-03 09:45] atherdon commented on #185
@vadim9999
1) create a separated issue with content from this comment https://github.com/GroceriStar/groceristar-fetch/issues/185#issuecomment-460002543
2) mention that issue at "Discussion task"
3) create a method, that will pack all groceries. Because right now i think we cannot get an array with all grocery lists, by calling them via `getGroceriesWithDepIngKey`

[2019-02-03 10:14] atherdon opened #197 "create a json files from a methods, that return some data."
#192 it's like a reverse engineering.
we have a files right now, but we want to generate them automatically, by our rules, and then save that data into json files

[2019-02-03 15:38] vadim9999 opened #198 "some departments from grocery doesn't exist in departments.json"
some departments from grocery doesn't exist in departments.json

[code]

[2019-02-03 15:39] vadim9999 commented on #174
https://github.com/GroceriStar/groceristar-fetch/issues/198

[2019-02-03 15:49] vadim9999 commented on #185
@atherdon it's returns all grocery lists in one array maybe instead of map I shoud use forEach

[2019-02-03 17:14] atherdon commented on #198
I think all of these departments came from our new grocery lists, that was imported by @kraftaa

[2019-02-03 17:19] atherdon commented on #198
And I assume that we connected all departments with ingredients.

@vadim9999 what file did you use in order to compare? ingredients.json only?

[2019-02-03 17:34] vadim9999 commented on #198
I get one department from grocery list and compare it with department in departments.json

[2019-02-03 17:36] atherdon commented on #185
hmm, i didn't check how the method works, and cannot confirm are you right or not @vadim9999
But i'm aware that in showcase we have an issue, when latest added grocery lists didn't have correct ingredients inside. https://github.com/GroceriStar/showcase/issues/197 Please review and tell me what do you think.
I also think that showcase can be a good platform for testing how this method are really w

[2019-02-03 17:37] atherdon commented on #185
Maybe you can make my life easier, by creating a few sets of tests, that will test this method and will help me to believe that everything works perfect. it'll really helps and save my time(as usually, i don't have a lot of time for a proper review)

[2019-02-03 17:41] vadim9999 commented on #185
Ok. I Will create a task in trello

[2019-02-03 17:51] atherdon commented on #185
perfect idea. i think you realized why i like to keep everything organized
;)
I'll add some details to that task too.

[2019-02-03 17:59] atherdon commented on #198
I think i understand the source of your question.
First of all - maybe Maria didn't finish her task. Second version - i can forget to share that we need to keep all departments at one place. And this is where we get our main confusion.

We have an updated file grocery.json - with new data and new departments.
We have an ingredients.json - i assume this file has ingredients from ultimate grocerylis

[2019-02-03 20:13] atherdon commented on #185
by setting you mean stuff like `styles={color:blabla}`, right? from method getGroceryShowcase

if i got you right - let's focus on tests, related to the current method - so we or I will 100% sure that data that we combining - are good and works fine at any case....

[2019-02-03 20:14] atherdon opened #199 "add to documentation"
https://github.com/GroceriStar/groceristar-fetch/issues/185#issuecomment-460000964

[2019-02-03 20:15] atherdon commented on #197
based on this comment https://github.com/GroceriStar/groceristar-fetch/issues/185#issuecomment-460000964
we actually can recreate a data from our server, so we can also replace file that we have in our "Example" folder

[2019-02-03 20:15] atherdon commented on #192
#197

[2019-02-03 20:17] atherdon opened #200 "clean up methods, that we using at showcase project"
when we'll migrate that project to the next level(by updating a logic of getting a test data)

[2019-02-04 02:09] atherdon opened #201 "should we update the structure of ouf project folders?"
Like search is actually part of CK. And when we have a big list of basic recipes - we'll have some rules and room for search and filtering.
MealCalendar is actually part of CK too, but it's like 60% similar to the logic of Showcase - where we split a small amount of data into separated space in order to clean it up

Showcase is just a preview for groceristar
GraphQL is a new generation server for

[2019-02-04 02:10] atherdon commented on #198
Vadim, do you think that we should just replace "other" with "Other" and everything will work fine?

[2019-02-04 02:54] atherdon opened #202 "figure out how it works"
and how i think it can be improved
and what tests can and should be implemented

#185 #60

when i saw a https://github.com/GroceriStar/groceristar-fetch/issues/185#issuecomment-460002543
i think we need to have a test, that will alert of prevent this kind of situation.
it can be solved, when we'll populate GL file from one `departments file(entity)` and one `ingredients file(entity)` but right now

[2019-02-04 03:13] Avuidrauxs commented on #185
@atherdon , Review this [PR](https://github.com/GroceriStar/graphql-server/pull/54)

[2019-02-04 15:50] vadim9999 commented on #198
I agree with you

[2019-02-05 02:57] atherdon opened #204 "tests move result variable before "test""
https://stackoverflow.com/a/45376129
https://github.com/GroceriStar/groceristar-fetch/pull/203

[2019-02-06 17:10] atherdon opened #208 "question"
Hi @GuiFSs hope thing going well on your side.
 We are restarting our development process - so if you interested to join - buzz me

[2019-02-07 02:06] atherdon commented on #188
I need to make a simple explanation as here: https://github.com/GroceriStar/groceristar-fetch/issues/185#issue-403879801

[2019-02-07 02:07] atherdon commented on #190
i forgot to tell you, that GS swagger works too ;(
check this link: http://groceristar.herokuapp.com/explorer/

[2019-02-07 02:09] #185 closed

[2019-02-07 02:11] atherdon opened #209 "clean up. remove groceristar loopback example"
@vadim9999 am i right and we can remove that file, methods and tests that have?
as you recreate it automatically...

Plus we'll need to remove that method from all selector files, from different our react based projects... or it can be a small problem

[2019-02-07 02:12] atherdon commented on #209
and i think i need to publish a new release after this clean up - we made some progress before and it worth a separated version

[2019-02-07 02:35] atherdon commented on #209
i think we need to move away all methods, related to the generation of a big object from GS. that file

can you tell me the names of methods, that should be migrated?

[2019-02-07 02:37] atherdon opened #210 "remove fetching of GL by names"

[2019-02-07 03:28] atherdon opened #211 ""users" big object"
#60

for the first time - we can create it just for GS-loopback case only.
main reason to have this method related to creation a fake user that have some relations with our data.
it's using in GS-Loopback, CK, gs-graphql, etc.
I don't want to assign this task to Vadim, because he is overwhelmed with other projects

[2019-02-08 19:06] atherdon opened #215 "https://github.com/yafeunteun/nutrimium-opt/blob/master/slsqp/main.py"
@

[2019-02-09 17:57] atherdon opened #217 "update at getGroceriesWithDepIngKey tests"
file: https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/getGroceriesWithDepIngKey.test.js

- [ ] tests that checking properties - move to a separated function. you can read our other test files and find a solution.

- [ ] Right now these tests didn't cover a lot of cases. Try to jump on grocery.json and delete an `id` property. Try to delete `name`, make `name` an e

[2019-02-12 05:07] kraftaa commented on #177
Hi Arthur,
thank you for the detailed instructions.
I've updated all files and created new `files.js` in each folder.
All updated files are in my fork now.
I've run `npm run test` but it failed test with
```const dayjs        = require('dayjs');```
it couldn't find module `dayjs` from `chickenKyiv.js`

I've checked files in `jsonlint.com` but it crashes on
`const _ = require('lodash');`
`Error: Pa

[2019-02-12 14:31] atherdon commented on #177
i assume this problem:
you pull our last changes, but didn't re-run an installation process. so your `node_modules` has old cashed plugins, instead of new, that we installed few days ago.

so run yarn install - it will clean local modules cache and re install each plugin. i think it'll help.
buzz me if issue still appear.

Btw, jsonlint is still not finished work. I mean it works, but it doesn't i

[2019-02-12 15:44] atherdon commented on #177
Btw, jsonlint only for json files. it wouldn't work with JS code

[2019-02-14 01:25] atherdon commented on #177
@kraftaa I saw that you've started to work on this task on your repo, but didn't push changes here.
did you finish it or it's still pending? The reason why i'm asking - i'm dramatically changing the logic right now, so we may have some conflicts between our versions.

[2019-02-14 21:02] atherdon commented on #217
@shubhamrajput any questions/updates?

[2019-02-18 01:17] atherdon commented on #177
I think this task completed. tell me if I'm wrong

[2019-02-18 01:17] #177 closed

[2019-02-22 15:02] vadim9999 commented on #188
@atherdon

this result from method in groceristar-fetch or from loopback? Should I create method that will return array of objects?
In recipe.json are ingredients. Should I replace ingredient by ingredient key from ingredients.json?
Where can I get courses, nutritions related to recipe?

[2019-02-22 20:35] atherdon commented on #188
@vadim9999
1) by looking on ids i think it's from loopback.
2) yes, please create a method for array of objects.
3) not sure about replacing, but maybe let's do it. it wouldn't harm us
4) right now attributes was not connected, but you can do it, by adding some random stuff.

[2019-02-23 10:13] vadim9999 commented on #188
`.chickenKyiv.getAllRecipes`
Result
[code]

[2019-02-23 10:33] vadim9999 commented on #188
I created method that returns array with five random ids, and it's ids add to property holidays, nutritions, courses etc

[2019-02-23 10:58] atherdon commented on #188
ok, sounds great

[2019-02-23 10:58] atherdon commented on #188
but does that method giving you a real holidays, nutritions, etc? or it's just an ids inside?

[2019-02-23 14:00] vadim9999 commented on #188
Inside just fake random ids

[2019-02-23 22:12] atherdon commented on #188
got it

[2019-02-23 22:31] atherdon commented on #188
compare GS "big object" with CK "big object" does they have one similar logic?

[2019-02-24 10:28] vadim9999 commented on #188
No, because in GS big object has relationships between department and ingredients, grocery and departments. In CK We haven't relationships like in GS big object. I can create method that returns ingredients(CK) with id, and this 5 id's randomly add to property in big object. I think if I will make logic look like in GS big object in property ingredient's array will empty.

[2019-02-24 11:08] atherdon commented on #188
let's pause it for now. I don't have a proper idea at my head right now.
I think it'll became more clear after some of changes, that i plan to do at fake-api, that will be later connected to recipe-antd. and when we'll really need that data - we'll be able to decide what we need to do or what we need to have

[2019-02-25 05:52] atherdon opened #226 "pln"
https://github.com/GroceriStar/groceristar-fetch/blob/master/index.test.js

https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GraphQL/files.js

[2019-02-26 06:10] atherdon commented on #217
@shubhamrajput please give me some updates

[2019-02-26 06:15] atherdon opened #228 "Groceristar project tests"
at this folder, we have a lot of files related to tests.
https://github.com/GroceriStar/groceristar-fetch/tree/master/projects/GroceriStar

let's create a `test` folder inside of this folder, and move these tests into it. For sure, you'll need to update paths, inside of this files. In order to test your changes, you need to run `yarn run test` and you'll see if it crashing or not.

[2019-02-26 09:25] atherdon opened #229 "Intro to this project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear):
- https://github.com/GroceriStar/groceristar-fetch/issues/189
- https://github

[2019-02-28 07:23] Estherns commented on #229
Noted. Let me go through it

[2019-02-28 08:28] atherdon opened #231 "update paths to our static files"
I just yet updated our second module, where we keep all of our json files.
But if i merge my changes - it will break everything.
we rename `lib` to `dist` (name based on coding standards), so we need to update all of our files, there we import static files.
So, you'll need to adjust
- [x] ChickenKyiv/files.js
- [x] GraphQL/files.js
- [x] GS-Loopback/files.js
- [x] MealCalendar/files.js
- [x] Searc

[2019-02-28 08:29] atherdon commented on #229
additional simple task for you #231

[2019-02-28 08:35] atherdon commented on #229
I added you to our organization, in order to accept invite, please follow this link: https://github.com/GroceriStar

[2019-02-28 09:20] atherdon opened #232 "Intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions. @acheinu1

Second part of this module is stored here: https://github.com/GroceriStar/sd

[2019-02-28 09:44] atherdon commented on #232
first your task will be https://github.com/GroceriStar/sd/issues/17

[2019-02-28 15:47] atherdon opened #233 "https://www.pikapkg.com/blog/introducing-pika-pack/"

[2019-03-02 03:04] atherdon commented on #229
#231 is our most pending task right now, when you'll be able - please start from it

[2019-03-02 19:00] vadim9999 commented on #209
Sorry, I can't understand what files should I delete.

[2019-03-02 19:01] vadim9999 commented on #209
we can move
getGroceriesWithDepIngKey() but this method using method
getGroceryByNameWithDepAndIngKey

[2019-03-02 19:44] Estherns commented on #229
Okay fine.

[2019-03-03 05:46] atherdon commented on #229
awesome - thanks!

[2019-03-04 08:07] atherdon commented on #232
@acheinu1 btw, do you have any questions about our static food data plugin? Or I can mark this task as completed?

[2019-03-06 20:59] #231 closed

[2019-03-08 10:13] atherdon opened #239 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear):
- https://github.com/GroceriStar/groceristar-fetch/issues/189
- https://github

[2019-03-08 10:13] #229 closed

[2019-03-09 17:55] atherdon commented on #239
did you receive my message on AngelList?

[2019-03-09 18:15] wahaj-47 commented on #239
Yes, got it

[2019-03-09 18:16] wahaj-47 commented on #239
working on random element generator using lodash

[2019-03-09 18:19] atherdon commented on #239
I think you has a question before. But cool if it's clear. buzz me at PR
when you'll done it.
Be ready to run all tests, before submit to review. `yarn run test` will
work

[2019-03-09 18:27] wahaj-47 commented on #239
In the chikenKyiv project, I can't use the getRandomRecipe() method. Is there something I am doing wrong ?

[2019-03-09 18:32] atherdon commented on #239
give me a code line so i can easily see what you're trying to do

[2019-03-09 18:36] wahaj-47 commented on #239
I've created a separate project with a js file and installed the cloned groceristar package. Inside the js file

[code]
But I am getting an error that this method doesn't exists. I am running this js file using node

[2019-03-09 18:41] wahaj-47 commented on #239
Got it. Nevermind

[2019-03-09 18:42] atherdon commented on #239
first of all you don't need a separated project.
second thing - you tell me that "chikenKyiv project, I can't use the
getRandomRecipe()",
but you're using `groceristar` object, that didn't contain
`getRandomRecipe` method

[2019-03-09 18:43] atherdon commented on #239
In order to debug your changes, you need to use `play.js` file.
How to run it - you can find at package.json

[2019-03-09 18:47] wahaj-47 commented on #239
Yeah sorry

[2019-03-09 18:52] atherdon commented on #239
no problem at all. This is why I didn't share all the details with you. In
order to provoke start of the discussion.

[2019-03-09 19:09] wahaj-47 commented on #239
In the method getFiveRandomIngredients() why are we fetching all the recipes and then picking ingredients of random 5 recipes. Instead we can use the getRandomRecipe() method to return n random recipe and then just pick their ingredients.

[2019-03-09 19:35] atherdon commented on #239
I agree with you.
I think we didn't have that method before.
make that changes.

[2019-03-09 19:49] atherdon commented on #189
@wahaj-47 if i understand you correctly - we have one method left, that require your changes, right?

[2019-03-09 20:42] atherdon commented on #239
#228 can also be your task later

[2019-03-09 20:43] atherdon commented on #239
i'm publishing your code changes on npm and update our projects with this changes. if something goes wrong - i'll let you know

[2019-03-10 05:49] wahaj-47 commented on #189
I don't think so, which method is left ?
Can't seem to find it.

[2019-03-10 09:18] atherdon commented on #189
I mean this is your message

did you commit that changes too? @wahaj-47

[2019-03-10 09:31] wahaj-47 commented on #189
Yeah

[2019-03-10 09:38] atherdon commented on #189
got it, then closing this task. you can move to a next one

[2019-03-10 09:38] #189 closed

[2019-03-10 11:10] atherdon opened #242 "pln2"
1) We need to figure out a way, how to grab files from [sd-wapper](https://github.com/GroceriStar/sd) in a different way. I was in a rush, and we using absolute path for files at `files.js`. You can check index.js at `sd` repository and what we're trying to do there.
2) use `__.get` for all methods, not only for search.
3) use `_.merge or `_.unite` at all attributes and subfiles at search.js
4) ch

[2019-03-10 14:32] wahaj-47 commented on #173
Can't understand what's the issue here

[2019-03-10 15:04] atherdon commented on #173
we have a lot of similar methods, that doing actually the same thing.
I update the link at the beginning, take a look. And each project have similar methods, that just return different data, but using the same logic. I want to update and clean it up

[2019-03-10 15:17] wahaj-47 commented on #173
How about just a single function which takes as a parameter the stuff to return which gets passed into parser ?

like this
[code]

[2019-03-10 15:19] atherdon commented on #173
did you find the `__.get` method?

[2019-03-10 15:44] atherdon commented on #173
Ok, I'm pretty sure you know understand what should be done. buzz me with PR when it will be done

[2019-03-11 10:24] wahaj-47 commented on #173
There is a _get() method in search.js and there is a _.get() method in lodash. Which method were you talking about ?

[2019-03-11 10:32] wahaj-47 commented on #173
I think I'll need a separate file for moving these methods away, correct me if I am wrong ?

[2019-03-11 12:30] atherdon commented on #173
I think the best way, for now, is to move that method into `helper.js` file

[2019-03-12 10:27] wahaj-47 commented on #173
Would this work ?
helper.js:
[code]

[2019-03-12 13:06] atherdon commented on #173
push your code changes to pull request. if tests will work fine - then yes.
I cannot tell it by only looking on it ;)

[2019-03-12 13:14] wahaj-47 commented on #173
No the test fails. Guess, I'll have to find another way.

[2019-03-12 13:21] atherdon commented on #173
still open a pull request and i'll be able to help you, don't be shy with your code - commit and open pr more frequently

[2019-03-12 13:36] atherdon commented on #173
i'm actually working on this module too, so can help you quickly

[2019-03-12 14:03] atherdon opened #246 "if we'll change our `get` methods to variables - our tests crashing."
#245

[2019-03-12 14:04] atherdon commented on #173
#245

[2019-03-12 14:05] atherdon commented on #173
i made some changes at your fork. you can continue with this task

[2019-03-12 14:07] wahaj-47 commented on #173
Alright

[2019-03-12 17:57] atherdon opened #247 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. check @todo that we have at `src/projects` and let's discuss what todo next.

[2019-03-12 17:58] atherdon commented on #247
@syedhassan24 you can grab it

[2019-03-12 18:10] syedhassan24 commented on #247
what exactly is my task?

[2019-03-12 18:17] atherdon commented on #247
1. You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details.
it's read readme file of this repository and 4-5 articles about our future plans
2. fork the project. Open it in your code editor. `Ctrl+F` -> search for `@TODO` at folder `projects`. Each todo that we have should be paste to t

[2019-03-13 22:45] atherdon commented on #246
@wahaj-47 Ok, here we'll chat with you about our latest changes in #250
you tell me this: https://github.com/GroceriStar/groceristar-fetch/pull/250#issuecomment-472531840

Can you give me more details about why you don't like this approach?
Then I'll explain my reasons and we'll find a consensus.

[2019-03-13 22:47] atherdon commented on #228
@wahaj-47 this can be your next task, when we're discussing #246

[2019-03-13 23:00] atherdon commented on #173
What about `search.js` file. it has an old version of `__get`. Can you change it too?

[2019-03-14 03:48] atherdon opened #251 "Intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
For each project, we need to create a hash map, similar that we have at search.

[2019-03-14 10:01] wahaj-47 commented on #173
Update it in what way ?

[2019-03-14 10:12] wahaj-47 commented on #173
Again, why are we doing this, because all I've done is just create a new function that does exactly the same thing as parser() method. What is it that we are trying to achieve here ?

[2019-03-14 18:58] atherdon commented on #173
just to be clear. I'm totally on your side and I agree with you.
The reason why we did it in that way - because our tests were failing and i need to close this task quickly.
You can feel free to go to tests, learn how they work, update method as you want - but tests should work. Did we solve it?

As you see - you looking on this problem as on the main thing. I'm looking on this problem in complex

[2019-03-15 10:29] #173 closed

[2019-03-15 10:29] atherdon commented on #246
https://github.com/GroceriStar/groceristar-fetch/issues/173#issuecomment-473013666

[2019-03-15 10:31] atherdon opened #253 "search files tests"
1) rename staticFiles to files.test.js
2) add tests for each file that we connect in files.js

[2019-03-15 10:32] atherdon commented on #239
I think this task should be closed, right?

[2019-03-15 10:34] atherdon commented on #253
@wahaj-47 can be one of your next tasks
I add you to our github organization, please visit https://github.com/GroceriStar in order to accept an invite

[2019-03-15 10:35] atherdon opened #254 "export raw files from each project"
similar that you did in search.js
@wahaj-47

[2019-03-15 10:37] wahaj-47 commented on #239
#228 is incomplete

[2019-03-15 10:44] atherdon commented on #239
yeah i know, but i think the "introduction" phase is completed for you and you're ready for more :)

[2019-03-15 10:45] atherdon commented on #239
I'm closing it, so we'll be able to chat at other tasks that you have

[2019-03-15 10:45] #239 closed

[2019-03-15 10:46] atherdon opened #255 "move raw files tests to sd-wrapper too"

[2019-03-15 11:16] wahaj-47 commented on #253
There's a file sd-wrapper that I've not added a test for, it can't be done using the _find() method in search.js because we're not using sd-wrapper file in search.js

[2019-03-15 11:21] atherdon commented on #253
maybe you got me wrong.
right now we have one test, related to one file: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/Search/staticFiles.test.js#L4-L7
I just want more similar tests here

[2019-03-15 11:35] atherdon opened #257 "replace similar tests with functions"
0) change staticFiles.test at all of our projects. See `search` folder for example
1) all of our files.test.js have similar logic: we check if files exist/methods return some data. It can be simplified.
2) Compare `GraphQL/files.test.js` with other similar files and you'll get a difference

it's a very simple task. you just need to be focused and don't have mistakes. But if you'll have mistakes -

[2019-03-15 12:15] atherdon commented on #257
@tihaami

[2019-03-15 14:54] tihaami commented on #257
its src/projects/graphQL/graphQL.test.js , not GraphQL/files.test.js right  ? Cuz i aint got any file with that name..

[2019-03-15 14:56] atherdon commented on #257
because you didn't finished first point of this task :)

[2019-03-15 15:00] tihaami commented on #257
Ahh.. Sorry, i'm a bit confused, I thought point 1 and 2 were mentioned
there as an example. And i had to take hints from point 1 and 2 in order to
complete point 0 ?

On Fri, Mar 15, 2019 at 7:56 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-03-15 15:07] tihaami commented on #257
Alright i get it now..

[2019-03-15 16:17] wahaj-47 commented on #253
This one complete right ?

[2019-03-15 16:22] atherdon commented on #253
I'm not sure, because of your last comment, related to sd-wrapper. I didn't
get it

[2019-03-16 07:43] wahaj-47 commented on #253
We currently do not have a test for sd-wrapper because for testing the sd-wrapper because we can't test it using __find() method.

[2019-03-16 07:44] wahaj-47 commented on #253
Or maybe get the parsed version of sd-wrapper file.

[2019-03-16 15:59] atherdon opened #260 "groceristar/files.test.js"
at #258 I saw that we have a few consts `methodlist` that have a lot of similar things. do we really need to have them? @tihaami
After reviewing these files, do you think anything else can be improved too?

[2019-03-16 16:14] atherdon opened #261 "intro to the project."
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

another task for you i'll prepare a bit later

@tihaami

[2019-03-16 16:15] atherdon commented on #253
ok, I understand now

[2019-03-17 02:54] #257 closed

[2019-03-17 02:57] atherdon commented on #255
Actually, logic of tests completed. We just need to move tests, from `files.test.js`
into `https://github.com/GroceriStar/sd/tree/master/src/json-tests` folder.
Yeah, tests there a separated by JSON files. But it's nothing complex.

[2019-03-17 03:06] atherdon commented on #260
I think I got the answer to this question. Because we have different tests.
Btw, I think these functions (from `GS/files.test.js`) can be used at other projects too. What do you think if we'll move them into helper.js? please advice

[2019-03-17 03:08] atherdon commented on #260
Also, can you check file GS/getGroceriesWithDepIngKey.test.js(yeah, very bad name)? I think this file also can be upgraded with functions, that can reduce the number of lines

[2019-03-17 07:23] atherdon commented on #228
#259

[2019-03-17 07:23] #228 closed

[2019-03-17 08:00] tihaami commented on #260
i think it can be improved even further by using the function i made, I had commented that function in chickenKyiv/files.test.js, but i'm not sure about that. Moreover, The functions can be placed at one place and accessed from all the other files.test.js (s) . I thought about that, but seeing your method of creating a methodlist first and then testing each part, i preferred to use yours to mainta

[2019-03-17 08:11] atherdon commented on #260
I like to go step by step, because this plugin used in a few projects, and any major changes can easily break things... And as you just started with me - i think it'sa good move slowly introduce you to our workflow and code base

[2019-03-17 08:16] tihaami commented on #260
Alright, so right now the next step would be using writing functions in GS/getGroceriesWithDepIngKey.test.js for similar lines of code, and placing similar tests methods in helper.js ?

[2019-03-17 08:25] atherdon commented on #260
Yes, please start with that test file, so we'll have few cases for our
functions. Then move similar functions to helper and then update *.test.js
files

[2019-03-18 13:16] wahaj-47 commented on #253
So what do you think we should do ?

[2019-03-18 13:26] wahaj-47 commented on #253
Okay, I found the sd-wrapper index file, Its not a data file so I think we need to create a new method specifically for testing this file

[2019-03-18 13:28] wahaj-47 commented on #254
Can you elaborate ?

[2019-03-18 14:28] atherdon commented on #254
Sure: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/Search/search.js#L22-L27
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/Search/search.js#L184

[2019-03-18 14:36] atherdon commented on #253
first of all, `sd-wrapper` is a separated repository. So any code changes should be applied here: https://github.com/GroceriStar/sd

the second problem is - at `sd-wrapper` i'm trying to move into a new approach of building modules. Maybe you know part of my plan, from articles, that we have in `groceristar-fetch readme. So sd-wrapped is building with Babel and should be packed with Rollup. But ri

[2019-03-18 14:37] wahaj-47 commented on #254
I think we should move this __find() method to helper.js and get rid of __get() method

[2019-03-18 14:39] atherdon commented on #254
let's move `__find()` method, but keep `__get()` method as well. If our changes wouldn't broke the logic of project, dependable of this module - we'll think about it. Feel free to create a new issue at this repo, and explain where we need to remove `__get()` and how. So I'll be able to use that issue later and assign it to other interns

[2019-03-18 16:41] atherdon commented on #253
Ok, looks like maintainer of a plugin that we're using committing changes today. So maybe we'll be able to push my changes at sd-wrapper today

[2019-03-18 21:03] atherdon commented on #260
just to let you know, i'm updating a module, that giving us data files, that we're using. So some part of module can be broken or tests will fail.

[2019-03-18 21:04] atherdon commented on #253
Ok, module that we needed was upgraded and i'm pushing a new version of sd-wrapper here. Be ready that things can break here or tests will fail

[2019-03-19 14:53] tihaami commented on #260
Okay, got it. I'll complete the job by tomorrow..

On Tue, 19 Mar 2019, 2:03 AM Arthur Tkachenko, <notifications@github.com>
wrote:

[2019-03-19 15:25] atherdon commented on #260
Sure, take your time - we don't have any rush here.
Please don't forget to sync your fork, because I made some changes, and it
breaking some old code.
When you sync it - you'll see what I mean. It actually improves some
readability and simplifies part of the project

[2019-03-20 00:11] #133 closed

[2019-03-20 00:11] #136 closed

[2019-03-20 00:11] #138 closed

[2019-03-20 00:12] #132 closed

[2019-03-20 00:12] #131 closed

[2019-03-20 00:29] #106 closed

[2019-03-20 18:51] wahaj-47 commented on #254
I updated the test files, but now everything is broken. There is a new staticData object inside files.js of every project, I am guessing its got issues as well.

[2019-03-20 18:56] atherdon commented on #254
Sure, let's solve it together. Open your PR with changes

[2019-03-20 19:07] #254 closed

[2019-03-20 19:09] atherdon opened #268 "making fetch test coverage working"
@wahaj-47 Ok, merged your changes. Let's find out step by step what should be done, in order to fix test coverage.
First of all - I updated sd-wrapper. You can take a look how files are exported from it here: https://github.com/GroceriStar/sd/blob/master/src/index.js
and how connected here: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/Search/files.js

[2019-03-20 19:09] wahaj-47 commented on #253
Where ever staticData object is used to retrieve the JSON file, we get undefined returned.

[2019-03-20 19:10] atherdon commented on #253
give me a code line

[2019-03-20 19:10] atherdon commented on #253
#268

[2019-03-20 19:13] wahaj-47 commented on #268
Here if I console.log mealCalendar I get undefined, but for firstVeganGLMC I get the JSON
[code]

[2019-03-20 19:13] atherdon commented on #253
@wahaj-47 I have doubts about this. I can be wrong(usually), but I have an assumption, that when you sync our last changes - you didn,t run `yarn install` locally. and it can be a case because when I publish a new version of `sd-wrapper` i upgrade module at `fetch` as well. Please check this and confirm, if an error is still there

[2019-03-20 19:15] atherdon commented on #268
Ok, then my assumption is right: https://github.com/GroceriStar/groceristar-fetch/issues/253#issuecomment-474988989
Because in the latest version of `sd-wrapper` - we don't have raw files, stored at `dist/data` - reason: second plugin at rollup crashed as well :)

[2019-03-20 19:17] wahaj-47 commented on #268
Yes you were right.

[2019-03-20 19:24] atherdon commented on #268
But we still have problems. And I think you able to cover it yourself :) if you want - you can tell me your plan what you need to do and i'll confirm it

[2019-03-21 13:09] atherdon commented on #268
Just another way to check how tests running is to use Travis CI job log - https://travis-ci.org/GroceriStar/groceristar-fetch
as tests errors long - it's the easiest way to scroll it

[2019-03-21 18:22] wahaj-47 commented on #268
I plan to just use staticData object everywhere.

[2019-03-21 18:33] wahaj-47 commented on #268
This won't work, because some JSONs are not being imported at sd-wrapper.

[2019-03-21 18:47] atherdon commented on #268
Great

Then what you should do?

[2019-03-21 18:51] wahaj-47 commented on #268
If the sd-wrapper is fixed to return all the required JSONs then I can use staticData object.The tests run fine for the  JSONs that are being returned correctly.

[2019-03-21 19:35] atherdon commented on #268
you just need to finish what i didn't finish. apply changes at sd-wrapper

[2019-03-22 16:40] atherdon commented on #268
Ok, I install the latest version to groceristar-fetch. you can work on it

[2019-03-22 19:37] atherdon commented on #268
sd-wrapper updated

[2019-03-23 05:44] atherdon commented on #268
ok, looks like it improve test coverage. But we still have issues. Details: https://travis-ci.org/GroceriStar/groceristar-fetch

[2019-03-23 05:45] atherdon commented on #253
i think we can close this task, right?

[2019-03-23 05:46] wahaj-47 commented on #253
Yeah

[2019-03-23 05:47] #253 closed

[2019-03-23 09:12] atherdon commented on #268
https://github.com/GroceriStar/sd/pull/48

[2019-03-23 17:05] atherdon commented on #268
i install your latest changes

[2019-03-24 06:05] atherdon commented on #268
sd-wrapper updated, tell me if you'll need something else from me

[2019-03-24 07:32] wahaj-47 commented on #246
We created a __get() method that did nothing except passing some argument to parser() method. We could have just used the parser() method in its place. Now we've got a __find() method which is also doing the same thing as __get() but with a few extra steps. So we can also use the __find() method in place of the __get() method.

[2019-03-24 07:35] atherdon commented on #246
Ok, I understand. But why we have such complex structures like `__find(__get)`. Because I don't like them

[2019-03-24 07:35] atherdon commented on #268
btw, did we finish this task of we still have some errors, related to import json files?

[2019-03-24 07:38] wahaj-47 commented on #268
Showcase and unitconvertion don't have any tests

[2019-03-24 07:40] wahaj-47 commented on #246
Yes exactly, why aren't we using the parser() method as it is.

[2019-03-24 07:52] atherdon commented on #268
you right. showcase don't have tests because it's not necessary now. actually showcase is a part of GS. i just make it as separated branch in order to make it less complex. Showcase is just a place - where we display grocery lists. so it only getting and displaying data that we have.

UnitConvertion is an important and big topic, but right now i'm not ready to start it. When we'll finish some of o

[2019-03-24 07:54] atherdon commented on #246
it's debatable. I mean right now - when we have a more clean code - it's
easy to think about changes.

[2019-03-24 08:04] atherdon commented on #268
closing this task. will think later about what we can do next

[2019-03-24 08:04] #268 closed

[2019-03-24 08:05] atherdon commented on #260
we made some changes in our package in last days, please sync your fork

[2019-03-24 08:09] atherdon opened #276 "4) check @TODO that we have and let's discuss what todo next."
we have a lot of small not finished things, inside of our `projects` folder.
You need to make search of that **todos** and here we can discuss what and how it can be done.
For sure, some of that comments can be outdated. So create some list with codelinks so i can easily check it and we'll clean it up step by step together

[2019-03-24 16:56] tihaami commented on #260
Roger..

[2019-03-26 22:41] atherdon opened #279 "our test methods have wrong results"
instead of displaying different test messages, we have this
![GroceriStar groceristar fetch   Travis CI](https://user-images.githubusercontent.com/1469198/55038321-1b18c480-5029-11e9-8983-8540512c944a.png)

[2019-03-26 22:47] atherdon opened #280 "showcase files.test.js broken"

[2019-03-28 17:27] #279 closed

[2019-03-29 05:41] atherdon commented on #251
How things going?

[2019-03-29 05:41] atherdon commented on #247
How things going?

[2019-03-29 05:42] atherdon commented on #246
For some reasons I think we did this

[2019-03-29 05:42] #246 closed

[2019-03-29 10:42] atherdon opened #283 "upgrade our tests"
here you can see an example, of how we can create a function for similar tests: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/test/files.test.js
Here we need to improve our tests: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/test/getGroceriesWithDepIngKey.test.js
https://github.com/GroceriStar/groceristar-fetch/blob/m

[2019-03-29 10:46] atherdon commented on #283
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/ChickenKyiv/test/chickenKyiv.test.js

[2019-03-29 16:29] vadim9999 opened #284 "bug of getGroceryByNameWithDepAndIng(), getGroceriesWithDepIngKey"
method getGroceryByNameWithDepAndIng() return
[code]
method getGroceriesWithDepIngKey
return
[code]

[2019-03-29 18:52] atherdon commented on #284
ohh , this is actually what i wanted to fix!
also, can you check a similar to this method issues?
getGroceriesWithDepIngKey, getGroceryByNameWithDepAndIng, getGroceryByNameWithDepAndIngKey, getGroceryListsWithCountDepartments

[2019-03-29 18:57] atherdon commented on #284
hmm, i get confused. i think we have a bug at fetch plugin. let's chat how to fix it.
I find a problem at https://github.com/GroceriStar/react-print-pdf

[2019-03-29 18:59] atherdon commented on #284
i reverted my changes back, so it's became more like your code

[2019-03-29 19:22] atherdon opened #285 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. check @todo that we have at `src/projects` and let's discuss what todo next.

[2019-03-29 19:25] atherdon opened #286 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. check @todo that we have at `src/projects` and let's discuss what todo next.

[2019-03-31 07:10] atherdon opened #287 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. check @todo that we have at `src/projects` and let's discuss what todo next.

[2019-03-31 07:23] Mikalisa commented on #287
Ok , I'll read them

[2019-04-01 00:42] #285 closed

[2019-04-01 11:52] atherdon commented on #283
This is ГЕПЮР this is for me

[2019-04-02 03:38] atherdon commented on #283
#### getGroceriesWithDepIngKey.test.js
1) it didn't look similar to the shared example
2) some stuff commented but wasn't replaced/improved/updated
3) i have a feeling that it can be better improved.... Let's talk about it

[2019-04-02 14:16] atherdon opened #293 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. In our previous major release we change a way how we connect to files. And a

[2019-04-02 15:17] atherdon commented on #283
https://github.com/GroceriStar/groceristar-fetch/pull/288#pullrequestreview-221128339

[2019-04-02 17:32] atherdon commented on #283
so now all these files are updated, right?

[2019-04-02 17:32] atherdon commented on #283
find other files at `src/project` - where you can do something similar

[2019-04-03 06:02] atherdon commented on #283
Plus, our previous dev left us this issue. I'm sure you can handle it
![image](https://user-images.githubusercontent.com/1469198/55456205-26528e00-55ef-11e9-9a72-fe38d7da8e5e.png)
You can see it here: https://travis-ci.org/GroceriStar/groceristar-fetch/builds/514794236

[2019-04-03 08:18] atherdon commented on #293
I think i forget to put one link to this task  - i updated task description

[2019-04-03 08:19] atherdon opened #295 "Intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. In our previous major release, we change a way how we connect to files. And

[2019-04-03 08:26] #232 closed

[2019-04-03 08:38] azaidi4 commented on #295
Hi Arthur. Essentially you would like me to remove the old getter functions in line 17-47, correct?

[2019-04-03 08:43] atherdon commented on #295
in short yes, but if you will just delete them - you'll crash this part of the project.
Take some time and review this file - you'll see that some methods below, related to this `get` functions.
So it's not a simple task and it'll require some attention

[2019-04-03 08:44] atherdon commented on #295
![image](https://user-images.githubusercontent.com/1469198/55465452-d7fcb980-5605-11e9-915a-39dceec6a832.png)

[2019-04-03 08:47] azaidi4 commented on #295
I understand that. How do you want me to submit my task, I can fork the project and submit a pull request when I'm done

[2019-04-03 08:48] atherdon commented on #295
yes, please fork project now, and then submit your pull request

[2019-04-03 08:49] atherdon commented on #295
you can also check your changes by running 'yarn test'. right now few of our tests also broken, but you'll be able to see if your changes works fine

[2019-04-03 11:11] azaidi4 commented on #295
@atherdon https://github.com/GroceriStar/groceristar-fetch/pull/303. Travic Cl build failing due to broken tests. Changes work fine

[2019-04-03 11:43] atherdon commented on #295
Ok, while i'm thinking about another task - you can do the same thing, but for https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/MealCalendar/mealCalendar.js file

[2019-04-03 11:45] azaidi4 commented on #295
I have an exam tomorrow, so I might not be able to work on this today. Hope it will be fine

[2019-04-03 11:45] atherdon commented on #284
i'm not sure if we solve this problem, but right now our React projects didn't crash due to my changes... But it's definitely not a good situation...

[2019-04-03 11:49] atherdon commented on #295
sure, then take your time - no problem at all. i'll use this time and prepare a list of tasks for you

[2019-04-04 03:28] atherdon commented on #295
#305 OK, closing this task and will create something more interesting and complex :) Good luck with exams!

[2019-04-04 03:28] #295 closed

[2019-04-04 03:29] #208 closed

[2019-04-04 05:10] atherdon commented on #211
Our goal will be to generate an object, with structure like this: https://github.com/GroceriStar/sd/blob/master/src/data/Grocery/example/grocery-with-user-relations.json

it's long and complex task, so please ask your questions. I have a lot of things to share, but want to have a discussion about how we'll do it. @azaidi4

[2019-04-04 05:34] atherdon opened #306 "move fetch to ES6"
1) just a folder inside repo. with clean installation.
2) add to npm publish it too
3) start from major projects: GS, CK, GQL
3.1) connect or try to connect new version at fake-api, showcase, recipe-antd
3.2) fix errors
3.3) fix errors again and republish updates.
3.4) fix errors
4) will tests works similar or we'll need to have some big changes as well? try it by copy-paste first

[2019-04-04 05:35] atherdon commented on #211
we'll store methods here: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GS-Loopback/loopback.js
And yeah - we can upgrade `get` there too.

https://github.com/GroceriStar/sd/issues/76

[2019-04-04 05:52] atherdon commented on #211
here some examples, of methods that were created by Vadim

https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/groceristar.js#L56-L177

https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js#L97-L208

[2019-04-04 06:03] atherdon opened #307 "i have feeling that by deleting some of our `get` methods, our react projects can be broken"

[2019-04-04 06:18] atherdon commented on #283
![image](https://user-images.githubusercontent.com/1469198/55533606-82ceaf80-56ba-11e9-9fc7-cf10b9bbebe9.png)
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/test/getGroceriesWithDepIngKey.test.js#L23-L28
**THIS IS A BUG** **Babel for me**

[2019-04-04 08:24] atherdon opened #312 "unit convertion on fly"
#60

[2019-04-04 11:25] atherdon opened #313 "keep it simple"
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/groceristar.js#L116-L177
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/groceristar.js#L262-L269
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/groceristar.js#L271-L328

https://github.com/GroceriStar/groceristar-fetch/blob/master/src/p

[2019-04-04 11:32] atherdon opened #314 "get rid of parser."

[2019-04-04 15:29] #192 closed

[2019-04-05 00:13] azaidi4 commented on #211
I have a few questions.

- Are the ids mock data in https://github.com/GroceriStar/sd/blob/master/src/data/Grocery/example/grocery-with-user-relations.json. Where do I get the ids from?

-  Do I just create one method `getUserObject()`?

[2019-04-05 05:07] atherdon commented on #211
we'll generate an id by using uuid library
yes, please create one method that will return this complex object. Is everything else is clear for you?

[2019-04-05 06:58] azaidi4 commented on #211
Regarding this, the tests in `loopback.test.js` use the `get` methods, should I comment all the tests out or delete them entirely

[2019-04-05 07:04] atherdon commented on #211
if you create a separated github issue, where you explain what you did and why - yes, you can comment it.
Just want to keep track on our changes

[2019-04-05 08:23] azaidi4 opened #318 "Incorrect syntax in helper.js causing all tests to fail"
https://github.com/GroceriStar/groceristar-fetch/blob/2163e6aea7e8fedea48909ba75921622cfed193f/src/helper.js#L32-L42

[2019-04-05 08:34] atherdon commented on #211
Ok, merged. Just curious why you didn't ask me about what exactly difference between arrays of ids is. I mean they are just id - i.e. numbers, but the origin is different of them is different

[2019-04-05 08:39] azaidi4 commented on #211
Since this was a mockup I thought it would not matter. However you are right. Thank you for the information!

[2019-04-05 08:47] atherdon commented on #211
it 100% doesn't matter for our current state  - but for future we need to know that `hide` is related to ids from departments and purchased is ids of ingredients/items. For the current version, it's ingredients, after upgrade, it will be items. And items is a table between grocery lists and ingredients.

I think for now this task is, done. But maybe we should extend it and make more `real`. Not su

[2019-04-05 08:55] atherdon commented on #318
as you find this thing - maybe it's a good next task for you...
Problem that I see - we have a lot of methods between different projects, that actually doing a same thing.
We're grab static arrays from files and then re-arrange a data, so it can work in our different projects.
It's a big thing. So let's split it into a small chunks.
you saw 2 blank methods that i created. The main goal of these me

[2019-04-05 09:13] atherdon commented on #318
We can start from #313 `GraphQL` section - because i'll be able to check your changes quickly at our server.

[2019-04-05 10:35] atherdon commented on #283
we still have a lof of bugs. Don't forget to grab latest changes and run `yarn install` each time..
1) run `yarn test`
2) run `yarn babel`
for both cases i see errors

[2019-04-05 10:35] atherdon commented on #283
dick

[2019-04-05 10:36] atherdon commented on #283
fu

[2019-04-06 01:42] azaidi4 commented on #318
I've submitted a pull request for `GraphQL` section in #313. Closing this thread as the issue is resolved.

[2019-04-06 01:42] #318 closed

[2019-04-06 08:20] #283 closed

[2019-04-06 08:25] atherdon opened #323 "fixing test env"
i closed the previous task, because it's hard to navigate.
right now a lot of tests crashing at my side. But maybe it's a good thing,  that making it better.
the easiest way to track errors after different commits: https://travis-ci.org/GroceriStar/groceristar-fetch/builds
or run `yarn test`
babel right now compile everything without error @hirdbluebird

[2019-04-06 10:47] atherdon commented on #261
just ping you - tell me if you ready to move forward

[2019-04-06 11:26] atherdon opened #324 "intro to the project"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. check `@TODO` mark that we have at `src/projects` and let's discuss with me

[2019-04-06 11:27] atherdon commented on #286
just ping you

[2019-04-06 11:27] atherdon commented on #287
just ping you

[2019-04-06 11:48] EbrahimKreem commented on #324
- [ x ] checked

[2019-04-06 11:54] EbrahimKreem commented on #324
okay I'm in the src/projects dir, what I can do next

[2019-04-06 12:01] EbrahimKreem commented on #324
I didn't find the @TODO mark at `src/projects`

[2019-04-06 13:40] atherdon commented on #324
:( how did you look? you can do it by hands, not by search. it'll also help you to understand the project better

[2019-04-06 14:45] EbrahimKreem commented on #324
😅 okay I checked the `@TODO` marks in `src/projects` so what can I do next

[2019-04-06 14:53] atherdon commented on #324
put on your task 10 todo`s and we'll pick first one to work on it.
for each todo, please add a codeline - so i can easily view them

[2019-04-06 15:07] EbrahimKreem commented on #324
https://github.com/GroceriStar/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L37 I will begin with this because I think it is the easiest

[2019-04-06 15:10] atherdon commented on #324
hold on. re-read my comment carefully.

[2019-04-06 15:14] EbrahimKreem commented on #324
Do you want me to list all the 10 todo's with its code lines or what you mean exactly

[2019-04-06 15:15] atherdon commented on #324
yes, put here 10 todo`s

[2019-04-06 15:40] atherdon commented on #324
When you'll put that list here, you can start to work

---

Please fix it, but in order to make it work as we need, please check how we handle it here:
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js#L3
https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js#L105-L114

[2019-04-06 16:05] EbrahimKreem commented on #324
https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L37
https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L38
https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv

[2019-04-06 16:12] EbrahimKreem commented on #324
https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L37

https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L38

https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKy

[2019-04-06 16:12] atherdon commented on #324
thanks, just small note - it's better to use codeline from main repo - just
in case if other developers change something.
But for now it's ok. feel free and complete that first todo and open pull
request with your changes to our repository

[2019-04-06 21:54] atherdon commented on #314
as you find parser - maybe it's a sign that you should remove it completely from the project.
Story: we need it before. But now - when we split this module into 2 modules - we don't need parser.
And we use it in a lot of places - so be very careful, or a lot of our projects, that depends on this module will crash

[2019-04-08 11:55] atherdon commented on #324
did you update code, related to all ten @todos?

[2019-04-08 11:59] atherdon commented on #324
just want to keep hand on pulse

[2019-04-08 13:50] EbrahimKreem commented on #324
😓 I'm still stuck in some of them

[2019-04-08 13:55] atherdon commented on #324
then tell me which one and i'll help you.
I made that comments for myself, so it can be confusing for sure.
And actually we made a lot of progress nowadays, so some comments can be outdated as well

[2019-04-08 13:55] EbrahimKreem commented on #324
in the todo number 7 does the functions 'getAllDepartmentsWithId', 'getAllIngredientsWithId' used in other projects I can make one generic function that does both tasks but I'm afraid to break things in other projects that use this functions

[2019-04-08 13:58] atherdon commented on #324
The easiest way is:
1) create one major function. and just call it at `getAllDepartmentsWithId`, `getAllIngredientsWithId`
2) Create a separated issue, that will explain the problem(you can copy your comment) and I'll forward this task to some other team member, that have knowledge about it.

and yeah - moving carefully is a good thing, because this module and our projects evolving, so back compat

[2019-04-08 17:24] EbrahimKreem commented on #324
I made a pull request for other todos but number 4,10 I didn't figure out how to update them.

[2019-04-08 17:31] atherdon commented on #324
ok, so 4 and 10 left, right?

[2019-04-08 17:44] atherdon opened #334 "tests"
before #333 we have
![image](https://user-images.githubusercontent.com/1469198/55745066-1566aa00-5a3f-11e9-928e-b3ba05c29943.png)

at #333 we have this:
![image](https://user-images.githubusercontent.com/1469198/55745091-1e577b80-5a3f-11e9-9cd1-6d7aefbb9467.png)

[2019-04-08 19:45] atherdon commented on #324
did you create a separated task for  https://github.com/GroceriStar/groceristar-fetch/issues/324?

[2019-04-08 19:57] atherdon commented on #324
4. https://github.com/EbrahimKreem/groceristar-fetch/blob/5c5ec2d6c428c07e63bc53cccd63120975752164/src/projects/ChickenKyiv/chickenKyiv.js#L98
Here all is simple. For most of our cases - we just want to have a few recipes(five). But i think it's better to have more advanced function, where we can decide ourself - how much element we should have. I also think that these method can be useful in othe

[2019-04-08 20:48] EbrahimKreem commented on #324
okay I will do my best

[2019-04-08 20:51] EbrahimKreem commented on #324
what I didn't understand 😅

[2019-04-08 21:35] atherdon commented on #324
ok, i'll do it for you. btw, you can continue with other todos - post a next part here and add your questions, so i can help you

[2019-04-09 10:22] EbrahimKreem commented on #324
I'm really confused about the todo number four, not because the implementation of the function but there is a method called `getNRecipes` that do the work so should I update the `getFirstFiveRecipes` method to accept a number in order to change the number of recipes that we can return or update the `getNRecipes`

[2019-04-09 10:40] atherdon commented on #324
ok, give me some time to think about it.
what about workin on a next set of @todos that we have?

[2019-04-09 10:43] atherdon commented on #324
when we'll clean up this module from todos and module will work fine at our projects - i'll assign a cool task to you. I think you'll like it

[2019-04-09 10:44] atherdon opened #336 "Intro to the project + rename helper.js to utils.js"
You need to read readme file: https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md
it also contains links to articles, where I explaining some details. If something will be not clear - don't hesitate and ask questions.

Tasks, that you can take(feel free to ask clarification if something is not clear)
1. rename helper.js to utils.js
**note** it's not that easy as it can look like

[2019-04-09 10:52] atherdon commented on #334
https://www.loom.com/share/39269a236f62482db45857839af2692b

[2019-04-09 12:33] EbrahimKreem commented on #324
ok

[2019-04-09 20:45] atherdon commented on #247
@syedhassan24 just ping you. are you still with us? other interns start to work on your task, so we maybe will need to do some adjustments

[2019-04-09 20:46] atherdon commented on #251
@MOOYOUONGOH did you receive a notification about this task?

[2019-04-09 20:47] atherdon commented on #293
how things going? just ping you

[2019-04-09 20:52] syedhassan24 commented on #247
Sorry for the late reply, I found another internship program so I won't be
working on your project

On Tue, Apr 9, 2019, 3:45 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-04-09 21:05] atherdon commented on #247
sad, but ok. thanks for letting me know

[2019-04-09 21:05] #247 closed

[2019-04-09 21:16] atherdon commented on #334
![xxx](https://media.giphy.com/media/rdma0nDFZMR32/giphy.gif)

[2019-04-10 23:18] Beni03 commented on #336
I changed the file name. Is it what you expected?

[2019-04-11 09:52] atherdon commented on #336
nope, i send you my comments

[2019-04-12 17:22] Beni03 commented on #336
updated all the modules( under src/project) which uses helper.js file

[2019-04-13 00:25] azaidi4 commented on #307
@atherdon tests for fake-api are working now. Did you commit a fix?

[2019-04-13 00:34] azaidi4 commented on #307
![2019-04-12 (1)](https://user-images.githubusercontent.com/26014477/56072185-f1b2a500-5d59-11e9-8c5b-6ef8f28c7d9e.png)
![2019-04-12 (2)](https://user-images.githubusercontent.com/26014477/56072186-f1b2a500-5d59-11e9-9f11-4650dc075b34.png)
![2019-04-12](https://user-images.githubusercontent.com/26014477/56072187-f1b2a500-5d59-11e9-97c1-7475674c0457.png)

[2019-04-13 13:50] atherdon commented on #336
did you push that changes via pull request?

[2019-04-13 13:52] atherdon commented on #336
i don't see your changes here: https://github.com/GroceriStar/groceristar-fetch/pull/339

[2019-04-13 13:58] atherdon commented on #307
hmm, i'm not quite sure. maybe some of our latest commits fix this issue.
but right now it works strange. If it works with server side(like fake-api) it can be broken at our react projects, so i keeping this issue, in order to don't forget to fix it.
i'm glad you find a fake-api server - maybe one of your next task will be related to it

[2019-04-13 13:59] atherdon commented on #307
i think build with tests still crashing, you can see it here: https://travis-ci.org/GroceriStar/fake-api/builds
So it may works but it fails as build

[2019-04-13 19:16] Beni03 commented on #336
Sorry! Yeah now I pushed all the changes via pull request

On Sat, Apr 13, 2019 at 6:52 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-04-14 09:31] atherdon commented on #336
no problems. awesome progress, btw
Ok, so looks like this task is done, can you confirm that it works well and we can move forward?
Btw, i saw that you saw few of my @todos - you update them. Maybe you can deal with that simple tasks too?

[2019-04-15 04:34] Beni03 commented on #336
Yes, we can move forward.

Thanks,
Benitha

On Sun, Apr 14, 2019 at 2:31 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-04-15 11:20] atherdon commented on #336
cool. then please deal with todos that you've changed

[2019-04-15 11:22] atherdon commented on #336
here when i saw it: https://github.com/GroceriStar/groceristar-fetch/pull/345/commits/44d1f30059465ecbc061f304a42deb1e7c64502b

[2019-04-15 17:12] Beni03 commented on #336
Sure. Will work on it.

Sent from my iPhone

[2019-04-18 18:47] Beni03 commented on #336
Can I use crypto module to generate random IDs?

On Mon, Apr 15, 2019 at 10:12 AM <ebi.benny@gmail.com> wrote:

[2019-04-18 22:17] Beni03 commented on #336
Please ignore the above question.

On Thu, Apr 18, 2019 at 12:32 PM Benitha .D <ebi.benny@gmail.com> wrote:

[2019-04-18 23:23] Beni03 commented on #336
const utils = require('./utils');

const getFiveRandomId = function () {
return [
utils. __generateId(),
utils.__generateId(),
utils.__generateId(),
utils.__generateId(),
utils.__generateId()
]
}

var result = getFiveRandomId();
console.log(result);

is this what you  expected? looks like it is done already.
On Thu, Apr 18, 2019 at 4:02 PM Benitha .D <ebi.benny@gmail.com> wrote:

[2019-04-19 09:18] atherdon commented on #336
maybe it works, but i still think that this current approach is not ideal. i think by combining some lodash method with `generateId` we can make it better

[2019-04-21 02:06] Beni03 commented on #336
I have added the lodash method to generate unique ID

On Fri, Apr 19, 2019 at 2:18 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-04-22 10:11] atherdon commented on #336
yeah, take alook at this comment: https://github.com/GroceriStar/groceristar-fetch/pull/354#issuecomment-485362634

[2019-04-23 11:56] Mikalisa commented on #287
I've checked @To Do Online , but there's thing that i don't undertand, where the "lodach" come from?, you are right it needs a time to understand the project, so i took courses in JavaScript, where should i start first? , i think it's better to start with code basis to understand the project very well as i see the things are blury , so just give the advice where to start?, and tell me about the pr

[2019-04-23 20:57] Beni03 commented on #336
Yes, it’s possible to generate Id using lodash.  But, I think the generated Id’s will look like auto increment key values. Is that what we want?

Sent from my iPhone

[2019-04-26 13:19] EbrahimKreem commented on #324
Hi @atherdon, I looked to the `custom structures generator [Main task] ` so is there any tasks for me

[2019-04-28 17:32] vadim9999 commented on #287
@Mikalisa Hi! lodash is a npm package (https://lodash.com/).To learn some basics of JS you can in  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide. Do you mean in groceristar.js that is located in groceristar-fetch/src/projects/GroceriStar?

[2019-04-29 11:22] Mikalisa commented on #287
Ok, i will check that,, yes i mean in groceristar.js

[2019-04-30 18:06] vadim9999 commented on #324
@EbrahimKreem Hi! I have a task for you https://github.com/GroceriStar/sd/issues/233

[2019-04-30 19:54] vadim9999 opened #360 "import objects in files.js that is located in src/projects/UnitConvertion"
import and export objects (measurementSystem and MeasurementUnits) in files.js from sd-wrapper. Import and export from sd-wrapper you can seen in https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/files.js
files.js is located in src/projects/UnitConvertion.
After it add tests in files.test.js that objects are not empty.

[2019-04-30 19:55] vadim9999 commented on #360
@Beni03

[2019-04-30 20:19] Beni03 commented on #360
Ok. Will work on it.

Sent from my iPhone

[2019-05-01 00:25] Beni03 commented on #360
I could not find those objects(measurementSystems and measurementUnits) from sd-wrapper module

[2019-05-01 13:49] vadim9999 commented on #360
Sorry, I will update package sd-wrapper

[2019-05-02 00:10] Beni03 commented on #360
Ok

Sent from my iPhone

[2019-05-02 16:21] vadim9999 opened #364 "create test for getKeyArrayDepAndIng"
In src/projects/GroceriStar/groceristar.js you will find getKeyArrayDepAndIng(). Write tests for it. What tests we should be created for this function?

[2019-05-02 16:23] vadim9999 commented on #364
@Beni03 This task is for you. I don't know why I can't add you to assignees. I have doesn't publish new version of sd, because we have there some troubles with import I think other interns will quick fix it

[2019-05-02 23:52] Beni03 commented on #364
Trying to understand the code. Will work on it.

[2019-05-02 23:54] Beni03 commented on #364
OK. Will check why I cannot get assigned.

[2019-05-04 20:47] vadim9999 commented on #360
@Beni03 I have updated sd-wrapper. Try again

[2019-05-06 05:26] Beni03 commented on #360
Its working now. update files.js

[2019-05-06 16:30] vadim9999 opened #371 "explanation about import"

[2019-05-06 16:30] vadim9999 commented on #371
@atherdon

[2019-05-06 20:10] atherdon commented on #371
Ok, so `import` folder is related to our loopback servers.
we have a few loopback servers that have different instances:
1) most old - recipe-api-only(Chicken Kyiv Recipe backend)
2) nice worked with advanced features - GroceriStar backend API server
3) Search api - it's a fork of CK, just with the purpose to connect to react search form and just working with getting data into select fields and re

[2019-05-08 18:20] vadim9999 opened #373 "display data related UnitConversion in play.js"
1. Add to Import and export generatedMeasurementUnits and generatedMeasurementSystem.
2. Create file play.js in projects/UnitConversion. Import and display in console log all variables that are in files.js that in UnitConversion.
3. Add tests that check if variable is not empty, is it array.

[2019-05-08 18:21] vadim9999 commented on #373
@Beni03

[2019-05-08 18:40] atherdon commented on #373
i think we need to extend details for this task

[2019-05-08 20:00] atherdon commented on #373
@vadim9999
1. Does `generatedMeasurementUnits` and `generatedMeasurementSystem` are the actual names of our files?
At which `project` it should be imported?
What methods should we create - what will they do?
Can you provide some examples of methods that looks similar, in order to help?

2. maybe you can point play.js from another `project` that can be used as example as well?
Can you explain, how

[2019-05-08 20:45] vadim9999 commented on #373
1. generatedMeasurementUnits and generatedMeasurementSystem  are generated files based on MeasurementUnits and MeasurementSystem. Which project and other details I don't know.I thought you know. Because if this files was added that they someone need
2. example of play.js from GroceriStar https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/play.js.
To call it, need

[2019-05-08 21:18] atherdon commented on #373
1. Does generatedMeasurementUnits and generatedMeasurementSystem are the actual names of our files?
I mean if we use them - we will receive a data from sd, right?

---

As we creating play.js at `UnitConvertions` folder - then our methods should be located there too.

2. To call it, need to add in package.json in block scrips
can you be more specific? maybe we have an example at Readme?
@vadim9999

[2019-05-08 23:00] atherdon commented on #360
i think it's related to #370

[2019-05-09 00:13] atherdon commented on #336
@vadim9999 please jump here too.

[2019-05-10 07:28] vadim9999 commented on #336
I think generate Id using lodash is for simple task and easy to check what is relationship beetwen  objects. uuidv is for more complex task. I think it more secure. Hacker should know this randomly generated id with characters and numbers. Also max value of number is limited but what he will do when max limit will be reach? In simple DB like Hello Wrld I used just increment numbers but it should b

[2019-05-11 23:02] Beni03 commented on #373
where can I fine generatedMeasurementUnits and generatedMeasurementSystem?

[2019-05-11 23:07] atherdon commented on #373
here you can see both versions(plain and generated as we need it)
https://github.com/GroceriStar/sd/blob/master/src/files.js#L44-L47

try just to replace variable names and i think it's done(if it wouldn't generate an error)

[2019-05-11 23:15] atherdon commented on #373
as i think this change will be very easy for you, please feel free and grab this next task: https://github.com/GroceriStar/sd/issues/299

[2019-05-11 23:48] Beni03 commented on #373
Ok

Sent from my iPhone

[2019-05-12 00:01] atherdon commented on #286
@ZachStecko i plan to close this task if you busy

[2019-05-12 00:02] atherdon commented on #324
@vadim9999 can we close this task?

[2019-05-12 00:03] atherdon commented on #287
give me a link to exact code line, because it's hard to see your thoughts. @vadim9999 will supervise you here

[2019-05-12 00:04] atherdon commented on #293
@adewale2018 i plan to close this task if you're busy

[2019-05-12 00:05] #261 closed

[2019-05-12 00:05] #251 closed

[2019-05-13 10:30] Mikalisa commented on #287
![Capture1](https://user-images.githubusercontent.com/40631554/57614959-31e88b80-7583-11e9-94fe-278809398bf9.PNG)

Here, the first @todo ,  @vadim9999

[2019-05-13 10:34] vadim9999 commented on #287
@atherdon Can you give more details about first TODO that Mikalisa found. What should be done with all of this  functions?

[2019-05-13 19:11] atherdon commented on #287
i think that if we compared results from the `ingredients` variable(created
at line #6) and compare it with results from method/function -
`getIngredients()` - you'll see that nothing is changed.
at readme i think we have a section, where we explain how to run some of
methods inside of our project. but! you cannot just get rid of those
methods. it's should be a smart and gentle way, because code i

[2019-05-13 21:13] MOOYOUONGOH commented on #251
Hi,

Sorry for the late reply.
I recently read this notification.
I was so busy for the interviews and classes since I am taking 20 units in
the school.

So, what is the notification about?

Best,
Mooyoung Oh

On Sat, May 11, 2019 at 5:05 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-13 21:16] atherdon commented on #251
are you think you ready to start wth us now?

[2019-05-13 21:18] MOOYOUONGOH commented on #251
I have the 4 exams on this week.
Can I start on Friday if possible?

On Mon, May 13, 2019 at 2:16 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-13 21:36] atherdon commented on #251
yes, for sure! take time as you need - don't want to intersect with your
exams. and good luck with them!
When you'll be ready - please introduce yourself at this task and ask Vadim
for first tasks. he will supervise you
https://github.com/GroceriStar/sd/issues/158

[2019-05-13 23:17] Beni03 commented on #373
for this code,
![image](https://user-images.githubusercontent.com/16260275/57660129-e392b700-7599-11e9-958b-06b102f0235a.png)

output is,
![image](https://user-images.githubusercontent.com/16260275/57660179-1ccb2700-759a-11e9-9f3e-caf6dbc04833.png)

or, for this code,
![image](https://user-images.githubusercontent.com/16260275/57660212-556b0080-759a-11e9-99f2-31f35264c7b5.png)

the output is,
![im

[2019-05-13 23:19] Beni03 commented on #373
expecting me to use JSON.stringify(object) to display objects?

[2019-05-13 23:53] atherdon commented on #373
you did it right. now i see how do you call the script. But, we have a
better way for it.
Please check this lines and update it -
https://github.com/GroceriStar/groceristar-fetch/blob/master/package.json#L8-L11
then i'll be able to merge your pull request

[2019-05-15 01:10] #360 closed

[2019-05-15 01:10] atherdon commented on #364
is this task finished?

[2019-05-15 01:14] atherdon opened #393 "master of readme"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

add https://github.com/GroceriStar/groceristar-fetch/issues/373#issuecomment-490644575 too.

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise d

[2019-05-15 01:15] atherdon opened #394 "display measurement, aka cup.json at fetch and create method, that will change structure of our object"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-15 02:39] atherdon opened #395 "configure travis ci in order to trace how fetch work at different cases"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when a new release of `fetch` plugin don't work fine at all situations.
E.g. it might work at plain js modules and at expressjs server, but crashing at React project. or backward. for sure, it partially related to our rollup setup. but right now this is not a main subject here. my goal is to setup a good CI en

[2019-05-15 08:45] Mikalisa commented on #287
@atherdon @vadim9999 ,understand you, so where do you recommend me to start?, at any file?

[2019-05-15 09:44] atherdon commented on #287
hmm, not clear for me. did you read my prev. comment and implement the changes? please elaborate

[2019-05-15 09:47] atherdon commented on #287
i recommend you to start :) and be careful, but curious. and use readme frequently in order to understand functionality

[2019-05-15 15:28] vadim9999 commented on #364
No

[2019-05-15 16:55] Beni03 commented on #364
Not yet. Will work on it.

Sent from my iPhone

[2019-05-15 22:51] atherdon commented on #373
closing

[2019-05-15 22:51] #373 closed

[2019-05-15 23:01] atherdon opened #399 "measurement units, methods"
### Expected Behavior / Situation
Second part of #373

### Actual Behavior / Situation

### Modification Proposal

[2019-05-16 00:06] Beni03 commented on #364
@vadim9999
We need to test if objects(departments and ingredients) are not empty

[2019-05-16 00:42] atherdon commented on #364
can you do it?

[2019-05-16 00:46] Beni03 commented on #364
Yes. I ll do it

Sent from my iPhone

[2019-05-16 01:39] atherdon commented on #393
right now i have feeling that readme here is more for me. so i think we need to extend it and make better.
Similar to what you did at sd repository and convert it from temporary code repo to a cool looking bad-ass shit.

[2019-05-16 07:59] hirdbluebird commented on #393
https://gph.is/28QBLPQ

[2019-05-16 08:24] atherdon commented on #393
hmm, looks like you also don't know about Markdown as well.

![xxx](https://media.giphy.com/media/7JjpxuFrfvOtr8VOSQ/giphy.gif)

[2019-05-16 08:25] atherdon commented on #393
eeemm. not work from email :(

[2019-05-17 00:49] #280 closed

[2019-05-17 00:50] atherdon commented on #312
I have a lot of data here. just buzz me

[2019-05-17 00:56] atherdon commented on #276
closing it. we have other things todo and you actually pretty well feeling inside of our code

[2019-05-17 00:56] #276 closed

[2019-05-17 00:56] #226 closed

[2019-05-17 08:18] hirdbluebird commented on #393
@atherdon put the label `in progress` here

[2019-05-21 17:21] Beni03 commented on #364
If I am right, tests to check objects are not empty has to be written in main test file. So, I have created a new test file for getKeyArrayDepAndind() and added some tests particularly for it.

[2019-05-21 18:08] atherdon commented on #364
#408
looks fine. not running it locally, but i think it what we needed. @Beni03 do you think we can close this task, right?

[2019-05-21 18:27] Beni03 commented on #364
Yes

Sent from my iPhone

[2019-05-22 06:06] atherdon commented on #364
awesome! do you have a next task todo? because I have a task description for you, but it's blocked right now - we need to wait for changes from our sd-wrapper repository

[2019-05-22 06:06] #364 closed

[2019-05-22 17:49] Beni03 commented on #364
No, right now I do not have any task assigned. Ok will wait for the next
task.

On Tue, May 21, 2019 at 11:06 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-22 18:17] atherdon commented on #364
got your message.

[2019-05-22 18:33] atherdon commented on #364
you can grab this task for now: https://github.com/GroceriStar/sd/issues/362

[2019-05-22 18:48] atherdon commented on #393
closing

[2019-05-22 18:48] #393 closed

[2019-05-22 19:05] #255 closed

[2019-05-22 19:12] Beni03 commented on #364
👍

Sent from my iPhone

[2019-05-23 06:53] atherdon commented on #399
We can start to work on this task as well. new changes from static data module was moved into this repository. Please sync your fork and re-install packages

[2019-05-24 10:28] atherdon opened #412 "Readme is broken"
**Describe the bug**
The structure is wack. and part of previous readme was important - there i have a list of articles, where i explaining what we're doing here. Before it was more self explanatorry

**To Reproduce**
Just take some time and try to use it. E.g. links at TOC is not accessible. and readme can be longer. should be

**Expected behavior**
A clear and concise description of what you exp

[2019-05-24 19:00] hirdbluebird commented on #412
@atherdon put "in progress" label here

[2019-05-29 15:45] atherdon opened #417 "install and configure Raven.js"
**Is your feature request related to a problem? Please describe.**
we can start from installing this module to fetch.
at our loopback servers we have a cool ulits.js file - we'll be able to use it.

will add more details later.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descripti

[2019-06-02 16:50] Mikalisa commented on #287
const { ingredients } = require('./files');

// @TODO can we update our methods - but we'll need to go step by step,
// don't worry, will update @hirdbluebird
// because these methods used in our react projects.
// so I propose do it very carefully
// Json -> Json
// get the ingredients as Json Array
const getIngredients = function () {
  return ingredients;
}

Hi @atherdon  . does this change sat

[2019-06-02 17:21] atherdon commented on #287
as you see - this todo was assigned to @hirdbluebird. let's do this way -
take some time, learn what you think you need to learn - and then come back
to me. I mean it's hard to be focused on you as student, due to your small
input with big pauses between. We changing our plugins quickly, and it can
be hard for you or me to follow that. So again, take your time and when
you'll be ready to spend mor

[2019-06-02 18:40] Mikalisa commented on #287
In fact i'm very excited, and it's an opportunity for me to participate with such project, after a period i will learn much about about nodeJs, and typeScript. any way i'm planning to stay for long time and get a good experience here, Have a great day

[2019-06-02 19:11] atherdon commented on #287
Ok, it sounds good for me - because we're here for a long time and I'm
actually ready to teach you. I also don't think that "learning" only is a
good way to master skills. This is why this internship more about practice.
But again - if it'll help you to feel more easy with our tasks  - then I'm
waiting for you. So when you'll be back - I can promise you that after a
few months of close collaborati

[2019-06-04 08:08] Mikalisa commented on #287
That's great @atherdon

[2019-06-07 23:33] atherdon commented on #399
Let's try to crack this one. but buzz me if something goes wrong. the main reason - this module is not actively updating right now and with latest changes that Eugene did - i expect that a lot of previously created methods can be broken. It might not affect your code, but if anything will generate an error - open a PR and we'll see what it causes

[2019-06-07 23:56] Beni03 commented on #399
Ok got it👍

Sent from my iPhone

[2019-06-10 23:28] Beni03 commented on #399
While syncing my fork, I am getting this conflict message. Can I know how to solve this please!
Also I am confused now because, even though, I cloned it locally form https://github.com/Beni03/groceristar-fetch.git, my local files are different from my forked repository.

Thanks
![git screen](https://user-images.githubusercontent.com/16260275/59233307-bd623600-8b9c-11e9-9fac-763d354f58a5.png)

[2019-06-11 02:51] atherdon commented on #399
ok, don't worry about it right now. it's because of latest changes that was done by Eugene.
Let's switch into sd repo again - while I'll figure out how to solve this issue. will create a task for you there right now

[2019-06-21 03:21] Seenivasanseeni opened #437 "Contributing.md"
We need to add contributing guidelines and also universal development setup and how to run the program/testcases.
Comment whatever you know.
We can make it into a contributing.md file. @atherdon

[2019-06-21 03:26] atherdon commented on #437
copy https://github.com/GroceriStar/sd/blob/master/CONTRIBUTING.md

[2019-06-21 03:31] Seenivasanseeni commented on #437
how to run tests?

[2019-06-21 03:34] atherdon commented on #437
check `readme` or `docs` folder

[2019-06-21 03:42] Seenivasanseeni commented on #437
I couldn't find it with a few minutes skimming. I will read those articles, find it and then i will populate the Contributing.md

[2019-06-21 03:45] atherdon commented on #437
cool

[2019-06-23 15:24] #324 closed

[2019-06-23 15:25] atherdon commented on #287
closing this task for now, you can always open a new one and we'll continue our collaboration

[2019-06-23 15:25] #287 closed

[2019-06-23 15:25] #286 closed

[2019-06-23 16:08] Seenivasanseeni commented on #306
What is the version of the node we are fixing for development? Note that Node8.10 doesn't support all ES6 modules such as import. I recommend Node12.04[12.04 docs](https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_field)

[2019-06-23 16:12] atherdon commented on #306
we using babel in order to deal with this kind of problems

[2019-06-23 16:14] atherdon commented on #306
don't worry - i'll explain the whole process soon

[2019-06-23 16:16] Seenivasanseeni commented on #306
Can you share the list of system/npm packages that one need to install to use babel for our project. I will update it in Contributing.md

[2019-06-23 16:24] Seenivasanseeni opened #444 "Not able to run npm test due to ES5->ES6?"
### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-06-23 16:35] atherdon commented on #306
actually all packages related to it installed and stored at package.json
i clean it up a bit, so you'll need to sync your fork in order to see my
latest changes

[2019-06-23 17:31] Seenivasanseeni commented on #306
Even after syncing the changes, i am having Unexpected token error.

[2019-06-23 17:36] atherdon commented on #306
show me a screenshot

[2019-06-23 17:40] Seenivasanseeni commented on #306
![Screenshot from 2019-06-23 23-09-43](https://user-images.githubusercontent.com/20085943/59979926-0e960f00-960c-11e9-8589-23ee4b00baf6.png)

[2019-06-23 17:51] atherdon commented on #306
quick answer - you don't export `mealCalendar` from index.
but with our current approach - you don't need it. because we exporting all
methods there.

and i think we even dont need to export `_find` method as well.
but if you'll remove it - you'll have other errors at tests - because tests
call that method

[2019-06-23 17:52] atherdon commented on #306
@vadim9999 please follow this too

[2019-06-23 18:01] Seenivasanseeni commented on #306
I am still not getting it. 1. I am importing all the methods from the class and importing all into a single object named `mealCalendar` so that can access them by mealCalendar.FUNCTION_NAME.
2. The error is " SyntaxError: Unexpected token import" I don't know how this error is linked.

[2019-06-23 18:27] Seenivasanseeni commented on #306
I found https://www.codementor.io/iykyvic/writing-your-nodejs-apps-using-es6-6dh0edw2o.
I will use this. meanwhile, if any of you know how to fix this, let me know in this thread or #444

[2019-06-24 13:59] Seenivasanseeni commented on #306
I tried doing that. it is not working. @atherdon. can you  update the repo with details for running the tests. Note I am able to run ```npm run-script build``` but running ```npm test``` yields  **Plugin/Preset files are not allowed to export objects, only functions.**

[2019-06-24 14:42] atherdon commented on #306
@vadim9999 can you advice @Seenivasanseeni here?

[2019-06-24 21:17] atherdon commented on #444
hmm, we have babel setup inside of each of our instances that we have at this repo. right now we moving from having one npm module into few and all of them have a babel+rollup configuration that partially work with nodejs modules. it has some issues with connecting this module to react projects, but i think with moving into ES6 we'll make it easier to fix

all things will be installed via npm inst

[2019-06-24 21:19] atherdon commented on #444
we're using the same things. just the latest versions of it

[2019-06-24 21:33] atherdon commented on #444
let's jump into other sub-project. i need some time in order to configure it correctly.

[2019-06-26 08:16] vadim9999 commented on #306
1. Try to import one method.
2. This error appears when setting Babel doesn't correct Plugin/Preset files are not allowed to export objects, only functions.
I think to fix this add this into babel.config.js
[code]
This code translates all tests from es5 into es6 then execute it

[2019-06-28 16:29] atherdon opened #448 "redux constants. stage1. methods"
**Is your feature request related to a problem? Please describe.**
@AkshayChoulwar  Sorry for short description, let's explore this task at comments. feel free and ask me anything

right now here we have 2 files that will give you an idea of what we need to do.
1) check this file https://github.com/GroceriStar/groceristar-fetch/blob/master/docs/constants.md we'll use information from it in order t

[2019-06-28 16:34] atherdon commented on #448
You may ask me - how departments file was created?
This is an actual task for those departments:

---
"By using names on methods from this [page](https://groceristar.github.io/documentation/docs/groceristar-website-methods-list/department-router/department-router.html) we created a set of constants.
Each constant is just a human version of the method that we have. But we didn't finish work, relate

[2019-06-28 16:35] atherdon commented on #448
youre first assesment to this task will be:

By using names on methods from this [page](https://groceristar.github.io/documentation/docs/groceristar-website-methods-list/ingredients-router/ingredients-router.html)
In order to make it better, we'll create set of constants, each for a different method.

Example:
*Create or find at db new ingredient new ingredient and attach it to grocery list*
will

[2019-06-30 19:19] atherdon commented on #448
@elnur004 you can grab this one

By using names on methods from this [page](https://groceristar.github.io/documentation/docs/groceristar-website-methods-list/favorite-router/favorite-router.html)
In order to make it better, we'll create a set of constants, each for a different method.

Example:
*Get All ingredients with status favorite*
will became `export const GET_ALL_FAVORITE_INGREDIENTS = "GET

[2019-06-30 22:04] atherdon commented on #448
@elnur004 another one for you

By using names on methods from this [page](https://groceristar.github.io/documentation/docs/groceristar-website-methods-list/grocery-router/grocery-router.html)
In order to make it better, we'll create set of constants, each for a different method.

Example:
*Method that will Display Grocery List Data*
will became `export const GET_FULL_GROCERY_LIST = "GET_FULL_GROCE

[2019-06-30 23:00] atherdon commented on #448
@elnur004 similar to previous one, but will require some time for research

https://chickenkyiv.github.io/search-api-documentation/docs/db-schema

https://chickenkyiv.github.io/search-api-documentation/docs/db-schema
By using names on URLS from this [page](https://chickenkyiv.github.io/search-api-documentation/docs/database-tables-models/attribute/allergy)
In order to make it better, we'll create

[2019-07-01 10:30] atherdon commented on #448
@elnur004 same thing, but step2

https://chickenkyiv.github.io/search-api-documentation/docs/db-schema

https://chickenkyiv.github.io/search-api-documentation/docs/db-schema
By using names on URLS from this [page](https://chickenkyiv.github.io/search-api-documentation/docs/database-tables-models/ingredients)
In order to make it better, we'll create set of constants, each for a different method.

E

[2019-07-01 11:39] atherdon commented on #448
@elnur004 next thing is to create constants for our models: https://github.com/GroceriStar/groceristar-fetch/blob/master/docs/constants.md#models

[2019-07-01 17:43] atherdon commented on #448
@siddharthp538  you can grab this part of data. https://github.com/GroceriStar/groceristar-fetch/blob/master/docs/constants.md#models-1
 this part is similar to work that was done before here

[2019-07-01 19:28] elnur004 commented on #448
@atherdon in which file we need to create constants for models? create new files or how?

[2019-07-01 20:15] atherdon commented on #448
each new sub-task here is a new file. because in other case we'll be very
confused. as you see - we trying to cover a lot of cases an the same time
and it's very confusing right now :)

[2019-07-05 19:08] atherdon commented on #448
@elnur004 you should continue to work on this task. I think at this file https://github.com/GroceriStar/groceristar-fetch/blob/master/docs/constants.md we have a lot of work to do

[2019-07-06 13:08] AkshayChoulwar commented on #448
Hi @atherdon,

There is an existing depatment.js file under the docs directory, my question is which constants should have to add on that file because I am seeing some constants in that already.

[2019-07-06 13:18] atherdon commented on #448
@AkshayChoulwar this was your first task: https://github.com/GroceriStar/groceristar-fetch/issues/448#issuecomment-506798133
departments was just an example, that shows how this task should be done: https://github.com/GroceriStar/groceristar-fetch/issues/448#issuecomment-506797807

[2019-07-06 13:19] atherdon commented on #448
but, as you already checking departments - tell me - do all of the methods were transferred? we didn't miss anything?

[2019-07-07 11:32] AkshayChoulwar commented on #448
@atherdon according to this [page](https://groceristar.github.io/documentation/docs/groceristar-website-methods-list/department-router/department-router.html) for departments it's completed.

[2019-07-07 11:45] AkshayChoulwar commented on #448
@atherdon for this [task](https://github.com/GroceriStar/groceristar-fetch/issues/448#issuecomment-506798133) whether we have to create the separate file or should we add to the ingredient.js file.

[2019-07-07 18:56] atherdon commented on #448
make a separated file for it please.

Thanks for letting me know about departments

[2019-07-08 04:34] AkshayChoulwar commented on #448
@atherdon thanks for clearing doubts.

[2019-07-11 21:10] atherdon commented on #448
@elnur004 do we have something left here for you?

[2019-07-11 21:13] elnur004 commented on #448
@atherdon i guess we've done all constants and models

[2019-07-11 21:24] elnur004 commented on #448
@atherdon if this task has been done already, may i get a new one, please?

[2019-07-11 21:26] atherdon commented on #448
all things from this file: https://github.com/GroceriStar/groceristar-fetch/blob/master/docs/constants.md? i just not remember what exactly we were working on :) give me more details so I can refresh my memory.

if we finish it - then yeah - i'll find a new task for you

[2019-07-11 21:48] elnur004 commented on #448
we just created several constants and models files.

[2019-07-12 19:18] atherdon commented on #448
so we can do other sections from this file? if yes - then you can jump into it. i'm a bit busy right now - soon will find something more interesting to you

[2019-07-13 19:49] elnur004 commented on #448
@atherdon need we create constants related to relations for model schemas?

[2019-07-13 20:11] atherdon commented on #448
yes, please do it

[2019-07-30 17:04] vadim9999 opened #478 "Discussion"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-07-30 17:05] vadim9999 commented on #478
Why all methods are commented?

[2019-07-30 17:07] vadim9999 commented on #478
Can I uncomment it and start to repair showcase? Each method is tied with other and so on. And all commented

[2019-07-30 17:17] atherdon commented on #478
i'm glad you asked. I just decide to wait, while you trying to solve in on your own.

Eugene comment all methods in order to get tests passed. I don't adore it, but ....

I'm trying to set fetch on wheels again. it's a shame that this module is not working correctly.
This is why I create a separated branch, projects2.0 where I'm trying to separate all things that we messed here with and make them

[2019-07-30 17:19] atherdon commented on #478
so, for me - code at master is not very necessary, I just want to solve our rollup setup issues and then we'll just replace code from my separated branch.

[2019-07-30 19:28] vadim9999 commented on #478
Am I right understood that I can uncomment functions?

[2019-07-31 11:09] atherdon commented on #478
it better to jump at second branch at this folder and help me to finish
changes that I started.

uncommenting is just un-productive

[2021-10-18 22:19] renovate[bot] opened #579 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency nodemon to v2.0.13](../pull/545)
 - [ ] [chore(deps): update dependency shx to v0.3.3](../pull/555)
 - [ ] [ch